In [2]:
import pandas as pd
pd.options.display.max_columns = 200
pd.options.display.float_format = '{:.3f}'.format

In [3]:
# Read the right files to create our DB

link_bas = r"C:\Users\User\Wild_Code\Projects\Project_2\DB\title.basics.tsv.gz"
title_bas = pd.read_csv(link_bas, sep = "\t", low_memory = False)

link_akas = r"C:\Users\User\Wild_Code\Projects\Project_2\DB\title.akas.tsv.gz"
title_akas = pd.read_csv(link_akas, sep = "\t", low_memory = False)

In [3]:
link_rate = r"C:\Users\User\Wild_Code\Projects\Project_2\DB\title.ratings.tsv.gz"
title_rate = pd.read_csv(link_rate, sep = "\t")

In [4]:
TMdb = pd.read_csv(r"C:\Users\User\Wild_Code\Projects\Project_2\DB\tmdb_full.csv", low_memory = False)

In [5]:
# Get the list of existing type in title_basics
title_bas["titleType"].unique()

array(['short', 'movie', 'tvShort', 'tvMovie', 'tvSeries', 'tvEpisode',
       'tvMiniSeries', 'tvSpecial', 'video', 'videoGame', 'tvPilot'],
      dtype=object)

In [4]:
# Creation of the DB with only movies without genre Adult
df_movie = title_bas[(~title_bas["genres"].str.contains("Adult", na = False)) & (title_bas["titleType"].str.contains("movie", na = False))]

In [7]:
title_akas.sample(5)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
7895316,tt11454604,4,Épisode #3.100,FR,fr,\N,\N,0
32521145,tt2927496,4,Épisode #1.124,FR,fr,\N,\N,0
43305891,tt7789458,8,Episodio #1.1338,ES,es,\N,\N,0
33416891,tt30146775,16,The Mars (Indian Documentary Series),CA,en,imdbDisplay,\N,0
3044796,tt0731038,5,Episodio #29.8,IT,it,\N,\N,0

In [32]:
# Creation of the list of traduced title
fr_akas = title_akas[["titleId","title", "types", "region"]][title_akas["region"].str.contains("FR", na = False)]

In [9]:
fr_akas.sample(5)

             titleId            title types
29039063  tt26657376    Épisode #1.74    \N
9921316   tt12207824   Épisode #1.110    \N
45012460   tt8601324     Épisode #1.1    \N
4645011   tt10252974  Épisode #1.2014    \N
23107425  tt19515100  Épisode #1.1233    \N

In [13]:
fr_akas[fr_akas.duplicated(subset = "titleId", keep = False)].head(15)

       titleId                                              title        types
79   tt0000010                       La sortie de l'usine Lumière  alternative
80   tt0000010          La sortie des ouvriers de l'usine Lumière           \N
81   tt0000010                       La sortie des usines Lumière  alternative
86   tt0000010                                     Sortie d'usine           \N
95   tt0000010                La sortie de l'usine Lumière à Lyon  imdbDisplay
110  tt0000012          L'arrivée d'un train en gare de La Ciotat  alternative
131  tt0000012                   L'arrivée d'un train à La Ciotat  imdbDisplay
134  tt0000013  Le débarquement du congrès de photographie à Lyon  imdbDisplay
135  tt0000013  Neuville-sur-Saône: Débarquement du congrès de...  imdbDisplay
143  tt0000013     Arrivée des congressistes à Neuville-sur-Saône  alternative
146  tt0000013       Le débarquement des congressistes à Neuville  alternative
148  tt0000014                  Le jardinier et le petit espiègle  alternative
164  tt0000014                                 Arroseur et arrosé  alternative
168  tt0000014                                  L'arroseur arrosé  imdbDisplay
170  tt0000014                                       Le jardinier           \N

In [14]:
len(fr_akas["titleId"].unique())

4681587

In [15]:
fr_akas["types"].value_counts()

types
\N             4524122
imdbDisplay     158705
alternative       6042
working           2220
tv                1804
dvd               1528
video             1503
festival           945
Name: count, dtype: int64

In [16]:
title_bas.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [19]:
fr_akas = fr_akas.merge(title_bas["titleType"], how = "left", left_on = fr_akas["titleId"], right_on = title_bas["tconst"])

In [20]:
fr_akas = fr_akas[fr_akas["titleType"] == "movie"]

In [21]:
fr_akas

,key_0,titleId,title,types,titleType
366,tt0000591,tt0000591,L'enfant prodigue,imdbDisplay,movie
392,tt0000886,tt0000886,Hamlet,imdbDisplay,movie
410,tt0001101,tt0001101,La Clémence d'Abraham Lincoln,imdbDisplay,movie
411,tt0001109,tt0001109,L'aluminite,imdbDisplay,movie
413,tt0001122,tt0001122,L'auberge rouge,imdbDisplay,movie
...,...,...,...,...,...
4696279,tt9913936,tt9913936,Le paradis de Diego,imdbDisplay,movie
4696364,tt9914164,tt9914164,Une vie de château,imdbDisplay,movie
4696701,tt9915790,tt9915790,Bobbyr Bondhura,imdbDisplay,movie
4696752,tt9916162,tt9916162,Making of 'La Virgen de los sicarios',imdbDisplay,movie
4696772,tt9916362,tt9916362,Les sorcières d'Akelarre,imdbDisplay,movie

In [23]:
fr_akas["types"].value_counts()

types
imdbDisplay    64859
\N             20959
alternative     3239
working         1678
tv              1402
video           1304
dvd              970
festival         736
Name: count, dtype: int64

In [25]:
fr_akas[fr_akas.duplicated(subset = "titleId", keep = False)]

,key_0,titleId,title,types,titleType
532,tt0002423,tt0002423,La Du Barry,\N,movie
533,tt0002423,tt0002423,Madame du Barry,alternative,movie
534,tt0002423,tt0002423,Passion,imdbDisplay,movie
566,tt0002844,tt0002844,The Phantom Crook,imdbDisplay,movie
567,tt0002844,tt0002844,Fantômas,\N,movie
...,...,...,...,...,...
4692232,tt9896916,tt9896916,Le Voyage du Pèlerin,imdbDisplay,movie
4693754,tt9904530,tt9904530,Scream Returns,imdbDisplay,movie
4693755,tt9904530,tt9904530,Scream Returns - Fan Film Spin-Off,\N,movie
4694579,tt9907782,tt9907782,The Cursed,alternative,movie
4694580,tt9907782,tt9907782,Eight for Silver,imdbDisplay,movie

In [31]:
dupli_akas = fr_akas[fr_akas.duplicated(subset = "titleId", keep = False)]

In [27]:
len(fr_akas["titleId"][fr_akas.duplicated(subset = "titleId", keep = False)].unique())

8190

In [29]:
len(fr_akas["titleId"][fr_akas.duplicated(subset = "titleId", keep = False) & (fr_akas["types"] == "imdbDisplay")].unique())

6613

In [30]:
len(fr_akas["titleId"][fr_akas.duplicated(subset = "titleId", keep = False) & (fr_akas["types"] == "imdbDisplay")])

7023

In [18]:
# Removing the duplicated lines (same movie with different fr akas)
fr_akas.drop_duplicates(subset = ["titleId"], inplace = True)

In [9]:
# Get the list of genre

genre_1 = df_movie["genres"].apply(lambda x: x.split(","))

genre_list = []
for line in genre_1:
    for ele in line:
        if ele not in genre_list:
            genre_list.append(ele)

print(genre_list)

['Romance', 'Documentary', 'News', 'Sport', '\\N', 'Action', 'Adventure', 'Biography', 'Drama', 'Fantasy', 'Comedy', 'War', 'Crime', 'Family', 'History', 'Sci-Fi', 'Thriller', 'Western', 'Mystery', 'Horror', 'Music', 'Animation', 'Musical', 'Film-Noir', 'Reality-TV', 'Talk-Show', 'Game-Show']

In [21]:
# Merging (INNER) movies and akas to get only the translated movies
movies_frt = df_movie.merge(fr_akas["title"], how = "inner", left_on = df_movie["tconst"], right_on = fr_akas["titleId"])

In [22]:
movies_frt

,key_0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,title
0,tt0000591,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama,L'enfant prodigue
1,tt0000886,tt0000886,movie,"Hamlet, Prince of Denmark",Hamlet,0,1910,\N,\N,Drama,Hamlet
2,tt0001101,tt0001101,movie,Abraham Lincoln's Clemency,Abraham Lincoln's Clemency,0,1910,\N,\N,\N,La Clémence d'Abraham Lincoln
3,tt0001109,tt0001109,movie,L'aluminite,L'aluminite,0,1910,\N,\N,\N,L'aluminite
4,tt0001122,tt0001122,movie,The Red Inn,L'auberge rouge,0,1910,\N,\N,\N,L'auberge rouge
...,...,...,...,...,...,...,...,...,...,...,...
83916,tt9913936,tt9913936,movie,Paradise,Paradise,0,2019,\N,135,"Crime,Drama",Le paradis de Diego
83917,tt9914164,tt9914164,movie,Une vie de château,Une vie de château,0,2019,\N,55,Documentary,Une vie de château
83918,tt9915790,tt9915790,movie,Bobbyr Bondhura,Bobbyr Bondhura,0,2019,\N,106,Family,Bobbyr Bondhura
83919,tt9916162,tt9916162,movie,Making of 'La Virgen de los sicarios',Making of 'La Virgen de los sicarios',0,1999,\N,45,Documentary,Making of 'La Virgen de los sicarios'
83920,tt9916362,tt9916362,movie,Coven,Akelarre,0,2020,\N,92,"Drama,History",Les sorcières d'Akelarre

In [23]:
title_rate

            tconst  averageRating  numVotes
0        tt0000001            5.7      2041
1        tt0000002            5.7       273
2        tt0000003            6.5      1998
3        tt0000004            5.4       178
4        tt0000005            6.2      2758
...            ...            ...       ...
1425216  tt9916730            7.0        12
1425217  tt9916766            7.1        23
1425218  tt9916778            7.2        36
1425219  tt9916840            7.0         9
1425220  tt9916880            8.5         7

[1425221 rows x 3 columns]

In [26]:
movies_frt.drop(columns = "key_0", inplace = True)

In [27]:
# Merging (LEFT) fr_movies with ratings
movies_frt = movies_frt.merge(title_rate[["averageRating", "numVotes"]], how = "left", left_on = movies_frt["tconst"], right_on = title_rate["tconst"])

In [31]:
movies_frt.drop(columns = "key_0", inplace = True)

In [32]:
# Final selection of movies before dropping columns

movie_final = movies_frt.merge(TMdb, how = "left", left_on = movies_frt["tconst"], right_on = TMdb["imdb_id"])

In [36]:
display(movie_final.info(),
        movie_final.describe(),
        movie_final.sample(10))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83921 entries, 0 to 83920
Data columns (total 38 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   key_0                         83921 non-null  object
 1   tconst                        83921 non-null  object
 2   titleType                     83921 non-null  object
 3   primaryTitle                  83921 non-null  object
 4   originalTitle                 83921 non-null  object
 5   isAdult                       83921 non-null  object
 6   startYear                     83921 non-null  object
 7   endYear                       83921 non-null  object
 8   runtimeMinutes                83921 non-null  object
 9   genres_x                      83921 non-null  object
 10  title_x                       83921 non-null  object
 11  averageRating                 67794 non-null  float64
 12  numVotes                      67794 non-null  float64
 13  adult                         60640 non-null  object
 14  backdrop_path                 48002 non-null  object
 15  budget                        60640 non-null  float64
 16  genres_y                      60640 non-null  object
 17  homepage                      9236 non-null   object
 18  id                            60640 non-null  float64
 19  imdb_id                       60640 non-null  object
 20  original_language             60640 non-null  object
 21  original_title                60640 non-null  object
 22  overview                      58672 non-null  object
 23  popularity                    60640 non-null  float64
 24  poster_path                   58732 non-null  object
 25  production_countries          60640 non-null  object
 26  release_date                  60238 non-null  object
 27  revenue                       60640 non-null  float64
 28  runtime                       60640 non-null  float64
 29  spoken_languages              60640 non-null  object
 30  status                        60640 non-null  object
 31  tagline                       27381 non-null  object
 32  title_y                       60640 non-null  object
 33  video                         60640 non-null  object
 34  vote_average                  60640 non-null  float64
 35  vote_count                    60640 non-null  float64
 36  production_companies_name     60640 non-null  object
 37  production_companies_country  26372 non-null  object
dtypes: float64(9), object(29)
memory usage: 24.3+ MB

None

,averageRating,numVotes,budget,id,popularity,revenue,runtime,vote_average,vote_count
count,67794.000,67794.000,60640.000,60640.000,60640.000,60640.000,60640.000,60640.000,60640.000
mean,6.112,15429.025,4104837.435,256218.334,7.448,10967863.607,94.777,5.416,299.296
std,1.117,75769.727,17980564.376,275929.635,46.959,66933568.080,184.508,2.083,1299.790
min,1.000,5.000,0.000,2.000,0.600,0.000,0.000,0.000,0.000
25%,5.500,113.000,0.000,43503.750,1.220,0.000,86.000,5.000,4.000
50%,6.200,624.000,0.000,135981.000,2.686,0.000,95.000,6.000,16.000
75%,6.900,3652.000,0.000,407967.000,7.404,0.000,105.000,6.700,89.000
max,10.000,2881964.000,579330426.000,1122335.000,5089.969,2923706026.000,43200.000,10.000,33630.000

,key_0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres_x,title_x,averageRating,numVotes,adult,backdrop_path,budget,genres_y,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title_y,video,vote_average,vote_count,production_companies_name,production_companies_country
62434,tt1896788,tt1896788,movie,My Little Princess,My Little Princess,0,2011,\N,105,Drama,I'm Not a Fucking Princess,6.300,1879.000,False,/mSLDuAlfpaSrpE3LvNwWDgMQiK2.jpg,0.000,['Drama'],http://www.sddistribution.fr/fiche.php?id=52,78363.000,tt1896788,fr,My Little Princess,Young Violetta and her mother Hannah are a pec...,10.586,/dl1uTSs5bksKkKwHupKroIc9LMy.jpg,['FR'],2011-06-29,0.000,105.000,"['ro', 'fr', 'en']",Released,NaN,My Little Princess,False,6.500,72.000,"['France 2 Cinéma', 'Les Productions Bagheera'...",NaN
64424,tt21420408,tt21420408,movie,Cold as Marble,Mermer soyugu,0,2022,\N,88,Drama,Mermer soyugu,7.200,21.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18963,tt0070865,tt0070865,movie,Man in the Trunk,La valise,0,1973,\N,100,"Adventure,Comedy",La valise,6.000,499.000,False,/8390Wl1NG4ulzdfnuGZRXq8mKDN.jpg,0.000,"['Comedy', 'Adventure']",NaN,70781.000,tt0070865,fr,La Valise,A beautiful and thoroughly modern young French...,2.528,/kYmHcKBgfAu5qJTGugRmcnyjgEA.jpg,['FR'],1973-10-12,0.000,100.000,['fr'],Released,NaN,Man in the Trunk,False,6.415,47.000,['Gaumont International'],NaN
14447,tt0057993,tt0057993,movie,Castle of Blood,Danza macabra,0,1964,\N,87,Horror,Danse Macabre,6.800,2760.000,False,/s2MNZ9fEroQrKMagzBl5gO43VlD.jpg,0.000,['Horror'],NaN,28532.000,tt0057993,it,Danza macabra,A writer accepts a wager that he cannot spend ...,6.018,/A17gEQk617FsLhtPyalRN885KM3.jpg,"['FR', 'IT']",1964-02-27,0.000,87.000,['it'],Released,The living and the dead change places in an or...,Castle of Blood,False,7.012,81.000,"['Vulsinia Films', 'Giovanni Addessi Produzion...",NaN
34247,tt0166192,tt0166192,movie,Finding Kelly,Finding Kelly,0,2000,\N,88,"Comedy,Family,Mystery",À la recherche de Kelly,5.600,221.000,False,NaN,0.000,[],NaN,160158.000,tt0166192,en,Mystery Kids,"The surprisingly intricate, nimble plot is abo...",0.841,NaN,[],2000-01-04,0.000,88.000,[],Released,NaN,Mystery Kids,False,0.000,0.000,[],NaN
45535,tt0439746,tt0439746,movie,Ouaga saga,Ouaga saga,0,2004,\N,85,Comedy,Ouaga saga,6.500,59.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39630,tt0250809,tt0250809,movie,Our Lady of the Assassins,La Virgen de los Sicarios,0,2000,\N,101,"Crime,Drama",La vierge des tueurs,6.800,4268.000,False,/vWAF5TihVEBFS4AQXAj4cv9S4t0.jpg,0.000,"['Crime', 'Drama', 'Romance']",NaN,44321.000,tt0250809,es,La virgen de los sicarios,World-weary arthur Fernando has returned to hi...,8.130,/q5jT6BBCIWIysr712UIZY7BOGje.jpg,"['CO', 'FR', 'ES']",2000-09-01,0.000,101.000,"['de', 'es']",Released,NaN,Our Lady of the Assassins,False,7.137,128.000,"['Vertigo Films', 'Les Films du Losange', 'Pro...",NaN
9499,tt0044917,tt0044917,movie,Amazing Monsieur Fabre,Monsieur Fabre,0,1951,\N,90,"Biography,Comedy,Drama",Monsieur Fabre,6.800,69.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9213,tt0044085,tt0044085,movie,Submarine Command,Submarine Command,0,1951,\N,87,"Drama,War",Duel sous la mer,6.200,681.000,False,/3XOTM2ruDkNOCqP1q8FKDmmTZQ3.jpg,0.000,"['War', 'Drama']",NaN,152266.000,tt0044085,en,Submarine Command,Submarine commander Ken White is forced to sud...,1.026,/wjvo9SL0FIhMP4CIE80Yar4ze2M.jpg,['US'],1951-11-01,0.000,87.000,['en'],Released,Daring naval rescue-raid off Korea !,Submarine Command,False,5.600,11.000,['Paramount'],NaN
41419,tt0295349,tt0295349,movie,L'illustre Maurin,L'illustre Maurin,0,1933,\N,122,\N,L'illustre Maurin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
# Which TMdb genre for NA genre in IMDB
movie_final[movie_final["genres_x"].str.contains(r"\\N")]["genres_y"].unique()

array(['[]', nan, "['Drama', 'History']", "['Drama']",
       "['Science Fiction']", "['Mystery', 'Crime']", "['Comedy']",
       "['Adventure']", "['Drama', 'Comedy']", "['Crime', 'Drama']",
       "['Comedy', 'Drama']", "['Drama', 'Action', 'Adventure']",
       "['Music', 'Comedy']", "['Adventure', 'Drama']",
       "['Romance', 'Comedy']", "['Romance', 'Drama']",
       "['Drama', 'War']", "['Comedy', 'Music']", "['Drama', 'Music']",
       "['Music', 'Romance', 'Drama']", "['Family', 'Music']",
       "['Music']", "['Crime']", "['Romance']", "['Drama', 'Family']",
       "['Documentary']", "['Comedy', 'Drama', 'Romance']",
       "['Drama', 'Documentary']", "['Thriller']", "['Crime', 'Comedy']",
       "['Thriller', 'Drama']", "['Family', 'Drama']",
       "['Comedy', 'Romance']", "['Drama', 'Romance']",
       "['Action', 'Comedy']", "['Action', 'Adventure', 'History']",
       "['History']", "['Crime', 'Action', 'Drama']",
       "['Crime', 'Action']", "['Drama', 'Drama']",
       "['Drama', 'History', 'Fantasy']", "['Horror']",
       "['Fantasy', 'Music']", "['Documentary', 'History']",
       "['Thriller', 'Crime']", "['Comedy', 'Family']",
       "['Music', 'Family', 'Drama']", "['Comedy', 'Thriller']",
       "['Fantasy']", "['Documentary', 'Drama']", "['Animation']",
       "['Science Fiction', 'Comedy']", "['Music', 'Documentary']",
       "['Documentary', 'War', 'History']",
       "['Documentary', 'Adventure']", "['Documentary', 'Animation']",
       "['Crime', 'Science Fiction', 'Thriller']",
       "['Animation', 'Family']", "['Thriller', 'Horror']"], dtype=object)

In [59]:
to_add = movie_final[(movie_final["genres_x"].str.contains(r"\\N")) & (movie_final["genres_y"].notna()) & (movie_final["genres_y"] != "[]")]

In [65]:
movie_final.drop(movie_final[movie_final["genres_x"].str.contains(r"\\N")].index, inplace = True)

In [68]:
movie_final

,key_0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres_x,title_x,averageRating,numVotes,adult,backdrop_path,budget,genres_y,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title_y,video,vote_average,vote_count,production_companies_name,production_companies_country
0,tt0000591,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama,L'enfant prodigue,5.400,24.000,False,NaN,0.000,['Drama'],NaN,396922.000,tt0000591,fr,L'enfant prodigue,The first feature-length motion picture produc...,0.600,NaN,['FR'],1907-06-19,0.000,90.000,['xx'],Released,NaN,The Prodigal Son,False,0.000,0.000,['Pathé Frères'],['FR']
1,tt0000886,tt0000886,movie,"Hamlet, Prince of Denmark",Hamlet,0,1910,\N,\N,Drama,Hamlet,4.600,41.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,tt0001175,tt0001175,movie,Camille,La dame aux camélias,0,1912,\N,\N,"Drama,Romance",La dame aux camélias,5.200,45.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,tt0001614,tt0001614,movie,The Four Devils,De fire djævle,0,1911,\N,60,Drama,Les Quatre Diables,6.400,42.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,tt0001790,tt0001790,movie,"Les Misérables, Part 1: Jean Valjean",Les misérables - Époque 1: Jean Valjean,0,1913,\N,60,Drama,Les misérables - Époque 1: Jean Valjean,6.000,52.000,False,NaN,0.000,['History'],NaN,282219.000,tt0001790,en,Les misérables - Époque 1: Jean Valjean,The story begins with Jean Valjean as a humble...,0.874,NaN,['FR'],1913-01-01,0.000,60.000,['fr'],Released,NaN,Les Misérables - Part 1: Jean Valjean,False,1.000,1.000,['Pathé Frères'],NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83916,tt9913936,tt9913936,movie,Paradise,Paradise,0,2019,\N,135,"Crime,Drama",Le paradis de Diego,7.400,61.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83917,tt9914164,tt9914164,movie,Une vie de château,Une vie de château,0,2019,\N,55,Documentary,Une vie de château,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83918,tt9915790,tt9915790,movie,Bobbyr Bondhura,Bobbyr Bondhura,0,2019,\N,106,Family,Bobbyr Bondhura,6.900,43.000,False,/9Zqup9L9zGMyDijAeKFkelcknp.jpg,0.000,['Drama'],NaN,591918.000,tt9915790,bn,Bobbyr Bondhura,Little Bobby goes missing after the separation...,0.600,/6trvIgsbe5rBlL1GoR6rJnNA3tv.jpg,['IN'],2019-03-08,0.000,106.000,[],Released,NaN,Bobbyr Bondhura,False,0.000,0.000,[],[]
83919,tt9916162,tt9916162,movie,Making of 'La Virgen de los sicarios',Making of 'La Virgen de los sicarios',0,1999,\N,45,Documentary,Making of 'La Virgen de los sicarios',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83920,tt9916362,tt9916362,movie,Coven,Akelarre,0,2020,\N,92,"Drama,History",Les sorcières d'Akelarre,6.400,5768.000,False,/imgc14olSDlAlf1z3nC11cL8Zyn.jpg,0.000,"['Drama', 'History']",http://www.avalon.me/production/feature-films/...,655187.000,tt9916362,eu,Akelarre,"French Basque Country, year 1609. The men of a...",8.629,/lyB3yoQbGO3LiCVuSOD2g17Hr6p.jpg,"['AR', 'ES', 'FR']",2020-10-02,0.000,92.000,"['eu', 'es']",Released,NaN,Coven,False,6.708,257.000,"['INCAA', 'La Fidèle Production', 'Lamia Produ...","['AR', 'FR', 'ES', 'FR', 'ES', 'ES', 'AR', 'ES..."

In [69]:
movie_final = pd.concat([movie_final, to_add])

In [70]:
movie_final

,key_0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres_x,title_x,averageRating,numVotes,adult,backdrop_path,budget,genres_y,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title_y,video,vote_average,vote_count,production_companies_name,production_companies_country
0,tt0000591,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama,L'enfant prodigue,5.400,24.000,False,NaN,0.000,['Drama'],NaN,396922.000,tt0000591,fr,L'enfant prodigue,The first feature-length motion picture produc...,0.600,NaN,['FR'],1907-06-19,0.000,90.000,['xx'],Released,NaN,The Prodigal Son,False,0.000,0.000,['Pathé Frères'],['FR']
1,tt0000886,tt0000886,movie,"Hamlet, Prince of Denmark",Hamlet,0,1910,\N,\N,Drama,Hamlet,4.600,41.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,tt0001175,tt0001175,movie,Camille,La dame aux camélias,0,1912,\N,\N,"Drama,Romance",La dame aux camélias,5.200,45.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,tt0001614,tt0001614,movie,The Four Devils,De fire djævle,0,1911,\N,60,Drama,Les Quatre Diables,6.400,42.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,tt0001790,tt0001790,movie,"Les Misérables, Part 1: Jean Valjean",Les misérables - Époque 1: Jean Valjean,0,1913,\N,60,Drama,Les misérables - Époque 1: Jean Valjean,6.000,52.000,False,NaN,0.000,['History'],NaN,282219.000,tt0001790,en,Les misérables - Époque 1: Jean Valjean,The story begins with Jean Valjean as a humble...,0.874,NaN,['FR'],1913-01-01,0.000,60.000,['fr'],Released,NaN,Les Misérables - Part 1: Jean Valjean,False,1.000,1.000,['Pathé Frères'],NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80963,tt7999612,tt7999612,movie,Mescaline,Mescaline,0,2018,\N,45,\N,Mescaline,6.400,14.000,False,NaN,0.000,['Drama'],NaN,506605.000,tt7999612,fr,Mescaline,Under the influence of a hallucinogenic cactus...,1.379,/xskj9TTbEykHGg1XXfNGBjnBqop.jpg,['FR'],2018-02-03,0.000,45.000,['fr'],Released,NaN,Mescaline,False,7.500,1.000,"['24images', 'Les films du Bélier']","['FR', 'FR']"
82161,tt8699536,tt8699536,movie,Monsieur Constant,Monsieur Constant,0,2023,\N,108,\N,Monsieur Constant,4.600,5.000,False,NaN,0.000,"['Comedy', 'Drama']",NaN,1064998.000,tt8699536,fr,Monsieur Constant,"On the island of the monks in Brittany, Consta...",0.680,/rI9jYMTYjR5AVMxQcPshTtsf35A.jpg,[],2023-02-08,0.000,0.000,"['fr', 'ru']",Released,NaN,Monsieur Constant,False,0.000,0.000,[],[]
82167,tt8705634,tt8705634,movie,Facing Krampus,Klausentreiben,0,2021,\N,45,\N,Gare au Krampus,NaN,NaN,False,NaN,30000.000,"['Thriller', 'Horror']",https://www.filmschule.de/en/projects-films/kl...,890967.000,tt8705634,de,Klausentreiben,During her internship in a remote clinic in th...,0.645,/mXjcpwjZFWKZLQnyzSB62xzXa8W.jpg,['DE'],2021-05-15,0.000,45.000,['de'],Released,NaN,Facing Krampus,False,10.000,1.000,"['ifs internationale filmschule köln gmbh', 'F...","['DE', 'DE']"
82369,tt8832044,tt8832044,movie,Régénération,Régénération,0,2018,\N,86,\N,Régénération,NaN,NaN,False,/kBY0qDK4XsL9OSziAimAeRtV8UP.jpg,0.000,['Documentary'],NaN,591053.000,tt8832044,fr,Régénération,NaN,0.885,/o4oLL5g6fE7yNORyo5jsfFizzk4.jpg,['FR'],2018-11-21,0.000,0.000,['fr'],Released,NaN,Regeneration,False,10.000,1.000,['DHR'],['']
82770,tt9065600,tt9065600,movie,Une fois comme jamais,Une fois comme jamais,0,2018,\N,78,\N,Une fois comme jamais,NaN,NaN,False,/7VOHQlo57Yub5Wb3jWEF0UJ6mYJ.jpg,0.000,"['Comedy', 'Drama']",NaN,550510.000,tt9065600,fr,Une fois comme jamais,NaN,0.600,/4N3o8B9TVhG07Si35Y8FTd1CNLj.jpg,['FR'],2018-10-03,0.000,0.000,['fr'],Released,NaN,Une fois comme jamais,False,0.000,0.000,['Mosaïque Films'],['FR']

In [76]:
movie_final["tconst"].unique()

array(['tt0000591', 'tt0000886', 'tt0001175', ..., 'tt8705634',
       'tt8832044', 'tt9065600'], dtype=object)

From this list of movie, we filter the names thanks to title principals

In [77]:
link_prin = r"C:\Users\User\Wild_Code\Projects\Project_2\DB\title.principals.tsv.gz"
title_prin = pd.read_csv(link_prin, sep = "\t")

KeyboardInterrupt:

In [ ]:
title_prin[title_prin["tconst"] == listunique()]