In [1]:
import pandas as pd
pd.options.display.max_columns = 200
pd.options.display.float_format = '{:.3f}'.format

In [2]:
# Read the right files to create our DB

link_bas = r"C:\Users\User\Wild_Code\Projects\Project_2\DB\title.basics.tsv.gz"
title_bas = pd.read_csv(link_bas, sep = "\t", low_memory = False, na_values = r"\N")

link_akas = r"C:\Users\User\Wild_Code\Projects\Project_2\DB\title.akas.tsv.gz"
title_akas = pd.read_csv(link_akas, sep = "\t", low_memory = False, na_values = r"\N")

In [3]:
title_bas[title_bas["titleType"] == "movie"].info()

<class 'pandas.core.frame.DataFrame'>
Index: 677353 entries, 8 to 10692994
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          677353 non-null  object
 1   titleType       677353 non-null  object
 2   primaryTitle    677351 non-null  object
 3   originalTitle   677351 non-null  object
 4   isAdult         677353 non-null  float64
 5   startYear       579409 non-null  float64
 6   endYear         0 non-null       float64
 7   runtimeMinutes  426122 non-null  object
 8   genres          602625 non-null  object
dtypes: float64(3), object(6)
memory usage: 51.7+ MB

In [4]:
link_rate = r"C:\Users\User\Wild_Code\Projects\Project_2\DB\title.ratings.tsv.gz"
title_rate = pd.read_csv(link_rate, sep = "\t", na_values = r"\N")

In [5]:
TMdb = pd.read_csv(r"C:\Users\User\Wild_Code\Projects\Project_2\DB\tmdb_full.csv", low_memory = False)

In [6]:
# Get the list of existing type in title_basics
title_bas["titleType"].unique()

array(['short', 'movie', 'tvShort', 'tvMovie', 'tvSeries', 'tvEpisode',
       'tvMiniSeries', 'tvSpecial', 'video', 'videoGame', 'tvPilot'],
      dtype=object)

In [7]:
# Creation of the DB with only movies without genre Adult
df_movie = title_bas[(~title_bas["genres"].str.contains("Adult", na = False)) & (title_bas["titleType"].str.contains("movie", na = False))]

In [8]:
len(df_movie["tconst"])

668387

In [9]:
title_akas.sample(5)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
29009623,tt26627732,7,エピソード #1.491,JP,ja,NaN,NaN,0
33169753,tt29887117,6,Folge #1.179,DE,de,NaN,NaN,0
33021374,tt29685272,3,एपिसोड #10.7,IN,hi,NaN,NaN,0
42837574,tt7545508,3,8 अक्टूबर 1981 को प्रसारित एपिसोड,IN,hi,NaN,NaN,0
23919138,tt2036794,4,Épisode datant du 19 janvier 1999,FR,fr,NaN,NaN,0

In [10]:
# Creation of the list of traduced title
fr_akas = title_akas[["titleId","title", "types", "region"]][title_akas["region"].str.contains("FR", na = False)]

In [11]:
fr_akas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4696869 entries, 12 to 47953103
Data columns (total 4 columns):
 #   Column   Dtype
---  ------   -----
 0   titleId  object
 1   title    object
 2   types    object
 3   region   object
dtypes: object(4)
memory usage: 179.2+ MB

In [12]:
fr_akas["types"].value_counts()

types
imdbDisplay    158705
alternative      6042
working          2220
tv               1804
dvd              1528
video            1503
festival          945
Name: count, dtype: int64

In [13]:
# Add the title type on akas to filter just the movies
fr_akas = fr_akas.merge(title_bas["titleType"], how = "left", left_on = fr_akas["titleId"], right_on = title_bas["tconst"])

In [14]:
fr_akas = fr_akas[fr_akas["titleType"] == "movie"]

In [15]:
fr_akas

,key_0,titleId,title,types,region,titleType
366,tt0000591,tt0000591,L'enfant prodigue,imdbDisplay,FR,movie
392,tt0000886,tt0000886,Hamlet,imdbDisplay,FR,movie
410,tt0001101,tt0001101,La Clémence d'Abraham Lincoln,imdbDisplay,FR,movie
411,tt0001109,tt0001109,L'aluminite,imdbDisplay,FR,movie
413,tt0001122,tt0001122,L'auberge rouge,imdbDisplay,FR,movie
...,...,...,...,...,...,...
4696279,tt9913936,tt9913936,Le paradis de Diego,imdbDisplay,FR,movie
4696364,tt9914164,tt9914164,Une vie de château,imdbDisplay,FR,movie
4696701,tt9915790,tt9915790,Bobbyr Bondhura,imdbDisplay,FR,movie
4696752,tt9916162,tt9916162,Making of 'La Virgen de los sicarios',imdbDisplay,FR,movie
4696772,tt9916362,tt9916362,Les sorcières d'Akelarre,imdbDisplay,FR,movie

In [16]:
fr_akas["types"].value_counts()

types
imdbDisplay    64859
alternative     3239
working         1678
tv              1402
video           1304
dvd              970
festival         736
Name: count, dtype: int64

In [17]:
fr_akas[fr_akas.duplicated(subset = "titleId", keep = False)]

,key_0,titleId,title,types,region,titleType
532,tt0002423,tt0002423,La Du Barry,NaN,FR,movie
533,tt0002423,tt0002423,Madame du Barry,alternative,FR,movie
534,tt0002423,tt0002423,Passion,imdbDisplay,FR,movie
566,tt0002844,tt0002844,The Phantom Crook,imdbDisplay,FR,movie
567,tt0002844,tt0002844,Fantômas,NaN,FR,movie
...,...,...,...,...,...,...
4692232,tt9896916,tt9896916,Le Voyage du Pèlerin,imdbDisplay,FR,movie
4693754,tt9904530,tt9904530,Scream Returns,imdbDisplay,FR,movie
4693755,tt9904530,tt9904530,Scream Returns - Fan Film Spin-Off,NaN,FR,movie
4694579,tt9907782,tt9907782,The Cursed,alternative,FR,movie
4694580,tt9907782,tt9907782,Eight for Silver,imdbDisplay,FR,movie

In [18]:
dupli_akas = fr_akas[fr_akas.duplicated(subset = "titleId", keep = False)]

In [19]:
len(dupli_akas["titleId"].unique())

8190

In [20]:
len(dupli_akas["titleId"][dupli_akas["types"] == "imdbDisplay"].unique())

6613

In [21]:
dupli_akas["types"].value_counts()

types
imdbDisplay    7023
alternative    2646
working        1572
video           887
tv              621
dvd             519
festival        224
Name: count, dtype: int64

In [22]:
dupli_akas["types"] = dupli_akas["types"].apply(lambda x: "aaimdbDisplay" if x == "imdbDisplay" else x)

C:\Users\User\AppData\Local\Temp\ipykernel_12028\3779870368.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dupli_akas["types"] = dupli_akas["types"].apply(lambda x: "aaimdbDisplay" if x == "imdbDisplay" else x)

In [23]:
dupli_akas.sort_values(by = "types", inplace = True)

C:\Users\User\AppData\Local\Temp\ipykernel_12028\3440819965.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dupli_akas.sort_values(by = "types", inplace = True)

In [24]:
# Removing the duplicated lines (same movie with different fr akas)
dupli_akas.drop_duplicates(subset = ["titleId"], inplace = True)

C:\Users\User\AppData\Local\Temp\ipykernel_12028\1851943322.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dupli_akas.drop_duplicates(subset = ["titleId"], inplace = True)

In [25]:
# Removing all duplicated lines (same movie with different fr akas)
fr_akas.drop_duplicates(subset = ["titleId"], keep = False, inplace = True)

In [26]:
# Add the unique title from the duplicated list 
fr_akas = pd.concat([fr_akas, dupli_akas])

In [27]:
fr_akas

,key_0,titleId,title,types,region,titleType
366,tt0000591,tt0000591,L'enfant prodigue,imdbDisplay,FR,movie
392,tt0000886,tt0000886,Hamlet,imdbDisplay,FR,movie
410,tt0001101,tt0001101,La Clémence d'Abraham Lincoln,imdbDisplay,FR,movie
411,tt0001109,tt0001109,L'aluminite,imdbDisplay,FR,movie
413,tt0001122,tt0001122,L'auberge rouge,imdbDisplay,FR,movie
...,...,...,...,...,...,...
4044164,tt6867320,tt6867320,Les cercles du vicieux,NaN,FR,movie
4150053,tt7443988,tt7443988,Global gâchis,NaN,FR,movie
4186078,tt7662854,tt7662854,Le Viceconsul,NaN,FR,movie
4322046,tt8309482,tt8309482,"DESTIN COMMUN, Hommage à 3 précurseurs du 7ème...",NaN,FR,movie
4527314,tt9234412,tt9234412,Le bagage ultime,NaN,FR,movie

In [28]:
fr_akas["titleId"].value_counts()

titleId
tt0000591     1
tt19363554    1
tt1935956     1
tt1935947     1
tt1935940     1
             ..
tt0135470     1
tt0135459     1
tt0135454     1
tt0135397     1
tt9234412     1
Name: count, Length: 85289, dtype: int64

In [29]:
# Merging (INNER) movies and akas to get only the translated movies
movies_frt = df_movie.merge(fr_akas["title"], how = "inner", left_on = df_movie["tconst"], right_on = fr_akas["titleId"])

In [30]:
movies_frt

,key_0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,title
0,tt0000591,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0.000,1907.000,NaN,90,Drama,L'enfant prodigue
1,tt0000886,tt0000886,movie,"Hamlet, Prince of Denmark",Hamlet,0.000,1910.000,NaN,NaN,Drama,Hamlet
2,tt0001101,tt0001101,movie,Abraham Lincoln's Clemency,Abraham Lincoln's Clemency,0.000,1910.000,NaN,NaN,NaN,La Clémence d'Abraham Lincoln
3,tt0001109,tt0001109,movie,L'aluminite,L'aluminite,0.000,1910.000,NaN,NaN,NaN,L'aluminite
4,tt0001122,tt0001122,movie,The Red Inn,L'auberge rouge,0.000,1910.000,NaN,NaN,NaN,L'auberge rouge
...,...,...,...,...,...,...,...,...,...,...,...
83916,tt9913936,tt9913936,movie,Paradise,Paradise,0.000,2019.000,NaN,135,"Crime,Drama",Le paradis de Diego
83917,tt9914164,tt9914164,movie,Une vie de château,Une vie de château,0.000,2019.000,NaN,55,Documentary,Une vie de château
83918,tt9915790,tt9915790,movie,Bobbyr Bondhura,Bobbyr Bondhura,0.000,2019.000,NaN,106,Family,Bobbyr Bondhura
83919,tt9916162,tt9916162,movie,Making of 'La Virgen de los sicarios',Making of 'La Virgen de los sicarios',0.000,1999.000,NaN,45,Documentary,Making of 'La Virgen de los sicarios'
83920,tt9916362,tt9916362,movie,Coven,Akelarre,0.000,2020.000,NaN,92,"Drama,History",Les sorcières d'Akelarre

In [31]:
title_rate

            tconst  averageRating  numVotes
0        tt0000001          5.700      2041
1        tt0000002          5.700       273
2        tt0000003          6.500      1998
3        tt0000004          5.400       178
4        tt0000005          6.200      2758
...            ...            ...       ...
1425216  tt9916730          7.000        12
1425217  tt9916766          7.100        23
1425218  tt9916778          7.200        36
1425219  tt9916840          7.000         9
1425220  tt9916880          8.500         7

[1425221 rows x 3 columns]

In [32]:
movies_frt.drop(columns = "key_0", inplace = True)

In [33]:
# Merging (LEFT) fr_movies with ratings
movies_frt = movies_frt.merge(title_rate[["averageRating", "numVotes"]], how = "left", left_on = movies_frt["tconst"], right_on = title_rate["tconst"])

In [34]:
movies_frt.drop(columns = "key_0", inplace = True)

In [35]:
# Final selection of movies before dropping columns

movie_final = movies_frt.merge(TMdb, how = "left", left_on = movies_frt["tconst"], right_on = TMdb["imdb_id"])

In [36]:
display(movie_final.info(),
        movie_final.describe(),
        movie_final.sample(10))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83921 entries, 0 to 83920
Data columns (total 38 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   key_0                         83921 non-null  object
 1   tconst                        83921 non-null  object
 2   titleType                     83921 non-null  object
 3   primaryTitle                  83921 non-null  object
 4   originalTitle                 83921 non-null  object
 5   isAdult                       83921 non-null  float64
 6   startYear                     82369 non-null  float64
 7   endYear                       0 non-null      float64
 8   runtimeMinutes                77273 non-null  object
 9   genres_x                      80261 non-null  object
 10  title_x                       83921 non-null  object
 11  averageRating                 67794 non-null  float64
 12  numVotes                      67794 non-null  float64
 13  adult                         60640 non-null  object
 14  backdrop_path                 48002 non-null  object
 15  budget                        60640 non-null  float64
 16  genres_y                      60640 non-null  object
 17  homepage                      9236 non-null   object
 18  id                            60640 non-null  float64
 19  imdb_id                       60640 non-null  object
 20  original_language             60640 non-null  object
 21  original_title                60640 non-null  object
 22  overview                      58672 non-null  object
 23  popularity                    60640 non-null  float64
 24  poster_path                   58732 non-null  object
 25  production_countries          60640 non-null  object
 26  release_date                  60238 non-null  object
 27  revenue                       60640 non-null  float64
 28  runtime                       60640 non-null  float64
 29  spoken_languages              60640 non-null  object
 30  status                        60640 non-null  object
 31  tagline                       27381 non-null  object
 32  title_y                       60640 non-null  object
 33  video                         60640 non-null  object
 34  vote_average                  60640 non-null  float64
 35  vote_count                    60640 non-null  float64
 36  production_companies_name     60640 non-null  object
 37  production_companies_country  26372 non-null  object
dtypes: float64(12), object(26)
memory usage: 24.3+ MB

None

,isAdult,startYear,endYear,averageRating,numVotes,budget,id,popularity,revenue,runtime,vote_average,vote_count
count,83921.000,82369.000,0.000,67794.000,67794.000,60640.000,60640.000,60640.000,60640.000,60640.000,60640.000,60640.000
mean,0.002,1987.468,NaN,6.112,15429.025,4104837.435,256218.334,7.448,10967863.607,94.777,5.416,299.296
std,0.044,31.050,NaN,1.117,75769.727,17980564.376,275929.635,46.959,66933568.080,184.508,2.083,1299.790
min,0.000,1903.000,NaN,1.000,5.000,0.000,2.000,0.600,0.000,0.000,0.000,0.000
25%,0.000,1965.000,NaN,5.500,113.000,0.000,43503.750,1.220,0.000,86.000,5.000,4.000
50%,0.000,1997.000,NaN,6.200,624.000,0.000,135981.000,2.686,0.000,95.000,6.000,16.000
75%,0.000,2015.000,NaN,6.900,3652.000,0.000,407967.000,7.404,0.000,105.000,6.700,89.000
max,1.000,2031.000,NaN,10.000,2881964.000,579330426.000,1122335.000,5089.969,2923706026.000,43200.000,10.000,33630.000

,key_0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres_x,title_x,averageRating,numVotes,adult,backdrop_path,budget,genres_y,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title_y,video,vote_average,vote_count,production_companies_name,production_companies_country
11474,tt0050383,tt0050383,movie,Fear Strikes Out,Fear Strikes Out,0.000,1957.000,NaN,100,"Biography,Drama,Sport",Prisonnier de la peur,6.900,2155.000,False,/4SU6I3O80HiNinufaWYQKaMJF3.jpg,0.000,['Drama'],NaN,125413.000,tt0050383,en,Fear Strikes Out,"True story of the life of Jimmy Piersall, who ...",2.376,/f4RPc5nOxMaAlTlzsc5YdcPB09s.jpg,['US'],1957-03-20,0.000,100.000,['en'],Released,"This is Jimmy, balanced on the ragged edge of ...",Fear Strikes Out,False,7.100,14.000,['Paramount'],NaN
78452,tt6527456,tt6527456,movie,Asphalt Burning,Børning 3,0.000,2020.000,NaN,100,"Action,Comedy",Asphalt Burning,5.200,2763.000,False,/zxHHmvUYlYhBuBmZpIrjnamCO3c.jpg,8129089.000,"['Action', 'Comedy']",NaN,505746.000,tt6527456,no,Børning 3,The third and final instalment in the Burnout ...,15.851,/4xga1DMRKfdkS6uzLwzCGvbRiyL.jpg,"['DE', 'NO']",2020-10-14,0.000,100.000,"['de', 'da', 'sv', 'it', 'no']",Released,From The Trolls' Path to Nürburgring,Asphalt Burning,False,5.444,108.000,"['Filmkameratene', 'Gifted Films', 'The Post R...","['NO', '', '', 'DE']"
4615,tt0026660,tt0026660,movie,Lucrezia Borgia,Lucrèce Borgia,0.000,1935.000,NaN,93,"Drama,History,Romance",Lucrèce Borgia,6.100,277.000,False,/teTLPlDoQBVM5xZmcmyhskwHZxU.jpg,0.000,"['Drama', 'History', 'Romance']",NaN,66963.000,tt0026660,fr,Lucrèce Borgia,French silent film pioneer Abel Gance directs ...,0.600,/z3k5rkCJxNWAFua7MFgB8bi9AkX.jpg,['FR'],1935-12-20,0.000,93.000,['fr'],Released,NaN,Lucrezia Borgia,False,4.300,3.000,[],NaN
43542,tt0365020,tt0365020,movie,Everyday People,Everyday People,0.000,2004.000,NaN,91,Drama,Des gens ordinaires,6.500,1303.000,False,/eqIq2AdKcoFctoPbQeqHdZvdNN1.jpg,0.000,"['Drama', 'TV Movie']",NaN,41851.000,tt0365020,en,Everyday People,The closing of a local restaurant concerns a n...,4.444,/cIqt9Wy2EpyJI6sBlDQ4lZmFlje.jpg,['US'],2004-01-18,0.000,91.000,"['fr', 'en']",Released,You can't wash out all the color and keep the ...,Everyday People,False,6.800,10.000,"['Alphaville Films', 'Journeyman Pictures', 'C...",NaN
16819,tt0064620,tt0064620,movie,Honeycomb,La madriguera,0.000,1969.000,NaN,102,Drama,La madriguera,6.400,374.000,False,/smJ6Z5ToX6SmndWhjMkutEZgt3n.jpg,0.000,['Drama'],NaN,268652.000,tt0064620,es,La madriguera,Teresa and Peter settle down in their new home...,1.761,/28oVPn9wufUXIwtBXiTJ7wCwosL.jpg,['ES'],1969-07-14,0.000,102.000,['es'],Released,NaN,Honeycomb,False,6.100,10.000,"['Delta Films', 'Elías Querejeta P. C.']",NaN
51343,tt1127180,tt1127180,movie,Drag Me to Hell,Drag Me to Hell,0.000,2009.000,NaN,99,Horror,Jusqu'en enfer,6.600,217190.000,False,/3tvwsRSIDgwJuaGdh67XZ942UMy.jpg,30000000.000,"['Horror', 'Thriller']",NaN,16871.000,tt1127180,en,Drag Me to Hell,After denying a woman the extension she needs ...,32.978,/fdyejM5Zd6dsa0YyWa02ZAKwQzK.jpg,['US'],2009-03-15,90810892.000,99.000,"['en', 'es', 'hu', 'cs']",Released,"Christine Brown has a good job, a great boyfri...",Drag Me to Hell,False,6.389,3244.000,"['Universal Pictures', 'Ghost House Pictures',...","['US', 'US', '', '', 'US']"
13258,tt0054936,tt0054936,movie,Goodbye Again,Goodbye Again,0.000,1961.000,NaN,120,"Drama,Romance",Aimez-vous Brahms?,7.000,3110.000,False,/i0zynFhcw65ygGNDy6hbLq6tugy.jpg,0.000,"['Drama', 'Romance']",NaN,84119.000,tt0054936,en,Goodbye Again,Middle-aged businesswoman Paula Tessier resist...,4.387,/x8eH1SvgG8A3C8P6AvShvHljrbt.jpg,"['FR', 'US']",1961-05-23,0.000,120.000,"['en', 'fr']",Released,This is how love is...and always will be...,Goodbye Again,False,6.917,30.000,"['Argus Film Produktie', 'Mercury Productions']",NaN
16842,tt0064674,tt0064674,movie,Mr. Freedom,Mr. Freedom,0.000,1968.000,NaN,95,"Comedy,Crime",Mister Freedom,6.400,1259.000,False,/eC7Ytm87pjeLf3YGezWA8X5M6LK.jpg,0.000,"['Drama', 'Comedy']",NaN,27146.000,tt0064674,en,Mr. Freedom,"Mr. Freedom, a bellowing good-ol'-boy superher...",2.620,/ae543dtPTLDBgDbNsVPkd0SDsOh.jpg,['FR'],1969-01-08,0.000,95.000,"['fr', 'en']",Released,NaN,Mr. Freedom,False,4.900,23.000,"['Films du Rond-Point', 'O.P.E.R.A.']",NaN
62695,tt1941464,tt1941464,movie,Happy-Culteur,Happy-Culteur,0.000,2012.000,NaN,70,Documentary,Happy-Culteur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41545,tt0297986,tt0297986,movie,Window of the Soul,Janela da Alma,0.000,2001.000,NaN,73,Documentary,Fenêtre sur l'âme,7.800,693.000,False,/trbJitMpwdMNVWsAVHWvTYFCgDQ.jpg,0.000,['Documentary'],NaN,63407.000,tt0297986,pt,Janela da Alma,Nineteen people with differing degrees of visu...,1.400,/fLJ56kNgzJnvv82oLumG395NKk5.jpg,['BR'],2001-10-20,0.000,73.000,"['de', 'es', 'fr', 'en', 'pt']",Released,NaN,Janela da Alma,False,7.000,18.000,"['Tibet Filme', 'Brazil Telecom', 'Copacabana ...",NaN

In [37]:
# Which TMdb genre for NA genre in IMDB
movie_final[movie_final["genres_x"].isna()]["genres_y"].unique()

array(['[]', nan, "['Drama', 'History']", "['Drama']",
       "['Science Fiction']", "['Mystery', 'Crime']", "['Comedy']",
       "['Adventure']", "['Drama', 'Comedy']", "['Crime', 'Drama']",
       "['Comedy', 'Drama']", "['Drama', 'Action', 'Adventure']",
       "['Music', 'Comedy']", "['Adventure', 'Drama']",
       "['Romance', 'Comedy']", "['Romance', 'Drama']",
       "['Drama', 'War']", "['Comedy', 'Music']", "['Drama', 'Music']",
       "['Music', 'Romance', 'Drama']", "['Family', 'Music']",
       "['Music']", "['Crime']", "['Romance']", "['Drama', 'Family']",
       "['Documentary']", "['Comedy', 'Drama', 'Romance']",
       "['Drama', 'Documentary']", "['Thriller']", "['Crime', 'Comedy']",
       "['Thriller', 'Drama']", "['Family', 'Drama']",
       "['Comedy', 'Romance']", "['Drama', 'Romance']",
       "['Action', 'Comedy']", "['Action', 'Adventure', 'History']",
       "['History']", "['Crime', 'Action', 'Drama']",
       "['Crime', 'Action']", "['Drama', 'Drama']",
       "['Drama', 'History', 'Fantasy']", "['Horror']",
       "['Fantasy', 'Music']", "['Documentary', 'History']",
       "['Thriller', 'Crime']", "['Comedy', 'Family']",
       "['Music', 'Family', 'Drama']", "['Comedy', 'Thriller']",
       "['Fantasy']", "['Documentary', 'Drama']", "['Animation']",
       "['Science Fiction', 'Comedy']", "['Music', 'Documentary']",
       "['Documentary', 'War', 'History']",
       "['Documentary', 'Adventure']", "['Documentary', 'Animation']",
       "['Crime', 'Science Fiction', 'Thriller']",
       "['Animation', 'Family']", "['Thriller', 'Horror']"], dtype=object)

In [38]:
to_add = movie_final[(movie_final["genres_x"].isna()) & (movie_final["genres_y"].notna()) & (movie_final["genres_y"] != "[]")]

In [39]:
to_add

,key_0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres_x,title_x,averageRating,numVotes,adult,backdrop_path,budget,genres_y,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title_y,video,vote_average,vote_count,production_companies_name,production_companies_country
18,tt0002375,tt0002375,movie,La mort du duc d'Enghien,La mort du duc d'Enghien,0.000,1912.000,NaN,NaN,NaN,La mort du duc d'Enghien,5.700,12.000,False,NaN,0.000,"['Drama', 'History']",NaN,285335.000,tt0002375,en,La Mort du duc d'Enghien,Directed by Albert Capellani.,0.823,/1D9MCUxnl4nzFVlJNsppP6Sdk94.jpg,['FR'],1912-01-02,0.000,15.000,[],Released,NaN,The Death of the Duke of Enghien,False,0.000,1.000,['Pathé'],NaN
58,tt0003960,tt0003960,movie,Loyalty,La fille de Delft,0.000,1914.000,NaN,68,NaN,La tulipe d'or,6.100,33.000,False,NaN,0.000,['Drama'],NaN,321824.000,tt0003960,fr,La fille de Delft,"Kaatje, the daughter of the miller Schoonejans...",1.400,NaN,['BE'],1914-04-23,0.000,71.000,['fr'],Released,NaN,Loyalty,False,6.500,1.000,['Pathé Frères'],NaN
117,tt0005813,tt0005813,movie,Nikolay Stavrogin,Nikolay Stavrogin,0.000,1915.000,NaN,NaN,NaN,Nicolas Stavroguine,NaN,NaN,False,NaN,0.000,['Drama'],NaN,878872.000,tt0005813,ru,Николай Ставрогин,NaN,0.600,NaN,['RU'],1915-09-01,0.000,0.000,[],Released,NaN,Nikolay Stavrogin,False,0.000,0.000,[],[]
135,tt0006233,tt0006233,movie,Volonté,Volonté,0.000,1917.000,NaN,NaN,NaN,Volonté,NaN,NaN,False,NaN,0.000,['Drama'],NaN,282258.000,tt0006233,en,Volonté,"The story takes place in the Parisian ""High So...",0.600,NaN,['FR'],1917-04-13,0.000,0.000,['fr'],Released,NaN,Will,False,0.000,0.000,[],NaN
183,tt0006713,tt0006713,movie,Les gaz mortels,Les gaz mortels,0.000,1916.000,NaN,71,NaN,Le brouillard sur la ville,6.000,48.000,False,NaN,0.000,['Science Fiction'],NaN,607385.000,tt0006713,fr,Les gaz mortels,"Hopson, a prestigious scientist, studies the e...",1.200,/wgO8saob0oVBtzUzi1WYcuJmKGO.jpg,['FR'],1916-09-01,0.000,71.000,['fr'],Released,NaN,Les gaz mortels,False,5.000,1.000,"[""Le Film d'Art""]",['FR']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80963,tt7999612,tt7999612,movie,Mescaline,Mescaline,0.000,2018.000,NaN,45,NaN,Mescaline,6.400,14.000,False,NaN,0.000,['Drama'],NaN,506605.000,tt7999612,fr,Mescaline,Under the influence of a hallucinogenic cactus...,1.379,/xskj9TTbEykHGg1XXfNGBjnBqop.jpg,['FR'],2018-02-03,0.000,45.000,['fr'],Released,NaN,Mescaline,False,7.500,1.000,"['24images', 'Les films du Bélier']","['FR', 'FR']"
82161,tt8699536,tt8699536,movie,Monsieur Constant,Monsieur Constant,0.000,2023.000,NaN,108,NaN,Monsieur Constant,4.600,5.000,False,NaN,0.000,"['Comedy', 'Drama']",NaN,1064998.000,tt8699536,fr,Monsieur Constant,"On the island of the monks in Brittany, Consta...",0.680,/rI9jYMTYjR5AVMxQcPshTtsf35A.jpg,[],2023-02-08,0.000,0.000,"['fr', 'ru']",Released,NaN,Monsieur Constant,False,0.000,0.000,[],[]
82167,tt8705634,tt8705634,movie,Facing Krampus,Klausentreiben,0.000,2021.000,NaN,45,NaN,Gare au Krampus,NaN,NaN,False,NaN,30000.000,"['Thriller', 'Horror']",https://www.filmschule.de/en/projects-films/kl...,890967.000,tt8705634,de,Klausentreiben,During her internship in a remote clinic in th...,0.645,/mXjcpwjZFWKZLQnyzSB62xzXa8W.jpg,['DE'],2021-05-15,0.000,45.000,['de'],Released,NaN,Facing Krampus,False,10.000,1.000,"['ifs internationale filmschule köln gmbh', 'F...","['DE', 'DE']"
82369,tt8832044,tt8832044,movie,Régénération,Régénération,0.000,2018.000,NaN,86,NaN,Régénération,NaN,NaN,False,/kBY0qDK4XsL9OSziAimAeRtV8UP.jpg,0.000,['Documentary'],NaN,591053.000,tt8832044,fr,Régénération,NaN,0.885,/o4oLL5g6fE7yNORyo5jsfFizzk4.jpg,['FR'],2018-11-21,0.000,0.000,['fr'],Released,NaN,Regeneration,False,10.000,1.000,['DHR'],['']
82770,tt9065600,tt9065600,movie,Une fois comme jamais,Une fois comme jamais,0.000,2018.000,NaN,78,NaN,Une fois comme jamais,NaN,NaN,False,/7VOHQlo57Yub5Wb3jWEF0UJ6mYJ.jpg,0.000,"['Comedy', 'Drama']",NaN,550510.000,tt9065600,fr,Une fois comme jamais,NaN,0.600,/4N3o8B9TVhG07Si35Y8FTd1CNLj.jpg,['FR'],2018-10-03,0.000,0.000,['fr'],Released,NaN,Une fois comme jamais,False,0.000,0.000,['Mosaïque Films'],['FR']

In [40]:
movie_final.drop(movie_final[movie_final["genres_x"].isna()].index, inplace = True)

In [41]:
movie_final

,key_0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres_x,title_x,averageRating,numVotes,adult,backdrop_path,budget,genres_y,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title_y,video,vote_average,vote_count,production_companies_name,production_companies_country
0,tt0000591,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0.000,1907.000,NaN,90,Drama,L'enfant prodigue,5.400,24.000,False,NaN,0.000,['Drama'],NaN,396922.000,tt0000591,fr,L'enfant prodigue,The first feature-length motion picture produc...,0.600,NaN,['FR'],1907-06-19,0.000,90.000,['xx'],Released,NaN,The Prodigal Son,False,0.000,0.000,['Pathé Frères'],['FR']
1,tt0000886,tt0000886,movie,"Hamlet, Prince of Denmark",Hamlet,0.000,1910.000,NaN,NaN,Drama,Hamlet,4.600,41.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,tt0001175,tt0001175,movie,Camille,La dame aux camélias,0.000,1912.000,NaN,NaN,"Drama,Romance",La dame aux camélias,5.200,45.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,tt0001614,tt0001614,movie,The Four Devils,De fire djævle,0.000,1911.000,NaN,60,Drama,Les Quatre Diables,6.400,42.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,tt0001790,tt0001790,movie,"Les Misérables, Part 1: Jean Valjean",Les misérables - Époque 1: Jean Valjean,0.000,1913.000,NaN,60,Drama,Les misérables - Époque 1: Jean Valjean,6.000,52.000,False,NaN,0.000,['History'],NaN,282219.000,tt0001790,en,Les misérables - Époque 1: Jean Valjean,The story begins with Jean Valjean as a humble...,0.874,NaN,['FR'],1913-01-01,0.000,60.000,['fr'],Released,NaN,Les Misérables - Part 1: Jean Valjean,False,1.000,1.000,['Pathé Frères'],NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83916,tt9913936,tt9913936,movie,Paradise,Paradise,0.000,2019.000,NaN,135,"Crime,Drama",Le paradis de Diego,7.400,61.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83917,tt9914164,tt9914164,movie,Une vie de château,Une vie de château,0.000,2019.000,NaN,55,Documentary,Une vie de château,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83918,tt9915790,tt9915790,movie,Bobbyr Bondhura,Bobbyr Bondhura,0.000,2019.000,NaN,106,Family,Bobbyr Bondhura,6.900,43.000,False,/9Zqup9L9zGMyDijAeKFkelcknp.jpg,0.000,['Drama'],NaN,591918.000,tt9915790,bn,Bobbyr Bondhura,Little Bobby goes missing after the separation...,0.600,/6trvIgsbe5rBlL1GoR6rJnNA3tv.jpg,['IN'],2019-03-08,0.000,106.000,[],Released,NaN,Bobbyr Bondhura,False,0.000,0.000,[],[]
83919,tt9916162,tt9916162,movie,Making of 'La Virgen de los sicarios',Making of 'La Virgen de los sicarios',0.000,1999.000,NaN,45,Documentary,Making of 'La Virgen de los sicarios',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83920,tt9916362,tt9916362,movie,Coven,Akelarre,0.000,2020.000,NaN,92,"Drama,History",Les sorcières d'Akelarre,6.400,5768.000,False,/imgc14olSDlAlf1z3nC11cL8Zyn.jpg,0.000,"['Drama', 'History']",http://www.avalon.me/production/feature-films/...,655187.000,tt9916362,eu,Akelarre,"French Basque Country, year 1609. The men of a...",8.629,/lyB3yoQbGO3LiCVuSOD2g17Hr6p.jpg,"['AR', 'ES', 'FR']",2020-10-02,0.000,92.000,"['eu', 'es']",Released,NaN,Coven,False,6.708,257.000,"['INCAA', 'La Fidèle Production', 'Lamia Produ...","['AR', 'FR', 'ES', 'FR', 'ES', 'ES', 'AR', 'ES..."

In [42]:
movie_final = pd.concat([movie_final, to_add])

In [43]:
movie_final

,key_0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres_x,title_x,averageRating,numVotes,adult,backdrop_path,budget,genres_y,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title_y,video,vote_average,vote_count,production_companies_name,production_companies_country
0,tt0000591,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0.000,1907.000,NaN,90,Drama,L'enfant prodigue,5.400,24.000,False,NaN,0.000,['Drama'],NaN,396922.000,tt0000591,fr,L'enfant prodigue,The first feature-length motion picture produc...,0.600,NaN,['FR'],1907-06-19,0.000,90.000,['xx'],Released,NaN,The Prodigal Son,False,0.000,0.000,['Pathé Frères'],['FR']
1,tt0000886,tt0000886,movie,"Hamlet, Prince of Denmark",Hamlet,0.000,1910.000,NaN,NaN,Drama,Hamlet,4.600,41.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,tt0001175,tt0001175,movie,Camille,La dame aux camélias,0.000,1912.000,NaN,NaN,"Drama,Romance",La dame aux camélias,5.200,45.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,tt0001614,tt0001614,movie,The Four Devils,De fire djævle,0.000,1911.000,NaN,60,Drama,Les Quatre Diables,6.400,42.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,tt0001790,tt0001790,movie,"Les Misérables, Part 1: Jean Valjean",Les misérables - Époque 1: Jean Valjean,0.000,1913.000,NaN,60,Drama,Les misérables - Époque 1: Jean Valjean,6.000,52.000,False,NaN,0.000,['History'],NaN,282219.000,tt0001790,en,Les misérables - Époque 1: Jean Valjean,The story begins with Jean Valjean as a humble...,0.874,NaN,['FR'],1913-01-01,0.000,60.000,['fr'],Released,NaN,Les Misérables - Part 1: Jean Valjean,False,1.000,1.000,['Pathé Frères'],NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80963,tt7999612,tt7999612,movie,Mescaline,Mescaline,0.000,2018.000,NaN,45,NaN,Mescaline,6.400,14.000,False,NaN,0.000,['Drama'],NaN,506605.000,tt7999612,fr,Mescaline,Under the influence of a hallucinogenic cactus...,1.379,/xskj9TTbEykHGg1XXfNGBjnBqop.jpg,['FR'],2018-02-03,0.000,45.000,['fr'],Released,NaN,Mescaline,False,7.500,1.000,"['24images', 'Les films du Bélier']","['FR', 'FR']"
82161,tt8699536,tt8699536,movie,Monsieur Constant,Monsieur Constant,0.000,2023.000,NaN,108,NaN,Monsieur Constant,4.600,5.000,False,NaN,0.000,"['Comedy', 'Drama']",NaN,1064998.000,tt8699536,fr,Monsieur Constant,"On the island of the monks in Brittany, Consta...",0.680,/rI9jYMTYjR5AVMxQcPshTtsf35A.jpg,[],2023-02-08,0.000,0.000,"['fr', 'ru']",Released,NaN,Monsieur Constant,False,0.000,0.000,[],[]
82167,tt8705634,tt8705634,movie,Facing Krampus,Klausentreiben,0.000,2021.000,NaN,45,NaN,Gare au Krampus,NaN,NaN,False,NaN,30000.000,"['Thriller', 'Horror']",https://www.filmschule.de/en/projects-films/kl...,890967.000,tt8705634,de,Klausentreiben,During her internship in a remote clinic in th...,0.645,/mXjcpwjZFWKZLQnyzSB62xzXa8W.jpg,['DE'],2021-05-15,0.000,45.000,['de'],Released,NaN,Facing Krampus,False,10.000,1.000,"['ifs internationale filmschule köln gmbh', 'F...","['DE', 'DE']"
82369,tt8832044,tt8832044,movie,Régénération,Régénération,0.000,2018.000,NaN,86,NaN,Régénération,NaN,NaN,False,/kBY0qDK4XsL9OSziAimAeRtV8UP.jpg,0.000,['Documentary'],NaN,591053.000,tt8832044,fr,Régénération,NaN,0.885,/o4oLL5g6fE7yNORyo5jsfFizzk4.jpg,['FR'],2018-11-21,0.000,0.000,['fr'],Released,NaN,Regeneration,False,10.000,1.000,['DHR'],['']
82770,tt9065600,tt9065600,movie,Une fois comme jamais,Une fois comme jamais,0.000,2018.000,NaN,78,NaN,Une fois comme jamais,NaN,NaN,False,/7VOHQlo57Yub5Wb3jWEF0UJ6mYJ.jpg,0.000,"['Comedy', 'Drama']",NaN,550510.000,tt9065600,fr,Une fois comme jamais,NaN,0.600,/4N3o8B9TVhG07Si35Y8FTd1CNLj.jpg,['FR'],2018-10-03,0.000,0.000,['fr'],Released,NaN,Une fois comme jamais,False,0.000,0.000,['Mosaïque Films'],['FR']

In [44]:
# movie_final.to_csv("movie_final.csv")

In [62]:
movie_final["status"].value_counts()

status
Released           59703
Post Production      329
In Production        217
Planned               92
Canceled               3
Rumored                2
Name: count, dtype: int64

In [69]:
movie_final = movie_final[movie_final["status"] == "Released"]

In [70]:
movie_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59703 entries, 0 to 82770
Data columns (total 38 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   key_0                         59703 non-null  object
 1   tconst                        59703 non-null  object
 2   titleType                     59703 non-null  object
 3   primaryTitle                  59703 non-null  object
 4   originalTitle                 59703 non-null  object
 5   isAdult                       59703 non-null  float64
 6   startYear                     59691 non-null  float64
 7   endYear                       0 non-null      float64
 8   runtimeMinutes                59198 non-null  object
 9   genres_x                      59385 non-null  object
 10  title_x                       59703 non-null  object
 11  averageRating                 58287 non-null  float64
 12  numVotes                      58287 non-null  float64
 13  adult                         59703 non-null  object
 14  backdrop_path                 47770 non-null  object
 15  budget                        59703 non-null  float64
 16  genres_y                      59703 non-null  object
 17  homepage                      9136 non-null   object
 18  id                            59703 non-null  float64
 19  imdb_id                       59703 non-null  object
 20  original_language             59703 non-null  object
 21  original_title                59703 non-null  object
 22  overview                      57927 non-null  object
 23  popularity                    59703 non-null  float64
 24  poster_path                   58131 non-null  object
 25  production_countries          59703 non-null  object
 26  release_date                  59627 non-null  object
 27  revenue                       59703 non-null  float64
 28  runtime                       59703 non-null  float64
 29  spoken_languages              59703 non-null  object
 30  status                        59703 non-null  object
 31  tagline                       27294 non-null  object
 32  title_y                       59703 non-null  object
 33  video                         59703 non-null  object
 34  vote_average                  59703 non-null  float64
 35  vote_count                    59703 non-null  float64
 36  production_companies_name     59703 non-null  object
 37  production_companies_country  25498 non-null  object
dtypes: float64(12), object(26)
memory usage: 17.8+ MB

In [76]:
movie_final.drop(columns = ["key_0", "titleType", "endYear", "adult", "budget", "homepage", "imdb_id", "production_countries", "original_title", "revenue", "spoken_languages", "status", "tagline", "video"], inplace = True)

C:\Users\User\AppData\Local\Temp\ipykernel_12028\4250518805.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final.drop(columns = ["key_0", "titleType", "endYear", "adult", "budget", "homepage", "imdb_id", "production_countries", "original_title", "revenue", "spoken_languages", "status", "tagline", "video"], inplace = True)

In [77]:
movie_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59703 entries, 0 to 82770
Data columns (total 24 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   tconst                        59703 non-null  object
 1   primaryTitle                  59703 non-null  object
 2   originalTitle                 59703 non-null  object
 3   isAdult                       59703 non-null  float64
 4   startYear                     59691 non-null  float64
 5   runtimeMinutes                59198 non-null  object
 6   genres_x                      59385 non-null  object
 7   title_x                       59703 non-null  object
 8   averageRating                 58287 non-null  float64
 9   numVotes                      58287 non-null  float64
 10  backdrop_path                 47770 non-null  object
 11  genres_y                      59703 non-null  object
 12  id                            59703 non-null  float64
 13  original_language             59703 non-null  object
 14  overview                      57927 non-null  object
 15  popularity                    59703 non-null  float64
 16  poster_path                   58131 non-null  object
 17  release_date                  59627 non-null  object
 18  runtime                       59703 non-null  float64
 19  title_y                       59703 non-null  object
 20  vote_average                  59703 non-null  float64
 21  vote_count                    59703 non-null  float64
 22  production_companies_name     59703 non-null  object
 23  production_companies_country  25498 non-null  object
dtypes: float64(9), object(15)
memory usage: 11.4+ MB

In [91]:
movie_final["release_date"].fillna(movie_final["startYear"], inplace = True)

C:\Users\User\AppData\Local\Temp\ipykernel_12028\2277707655.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final["release_date"].fillna(movie_final["startYear"], inplace = True)

In [93]:
movie_final.dropna(subset = "release_date", inplace = True)

C:\Users\User\AppData\Local\Temp\ipykernel_12028\2793962541.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final.dropna(subset = "release_date", inplace = True)

In [99]:
movie_final["release_date"] = movie_final["release_date"].apply(lambda x: str(x)[:4])

C:\Users\User\AppData\Local\Temp\ipykernel_12028\1421747041.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final["release_date"] = movie_final["release_date"].apply(lambda x: str(x)[:4])

In [80]:
movie_final["averageRating"].fillna(movie_final["vote_average"], inplace = True)

C:\Users\User\AppData\Local\Temp\ipykernel_12028\1017452822.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  movie_final["averageRating"].fillna(movie_final["vote_average"], inplace = True)
C:\Users\User\AppData\Local\Temp\ipykernel_12028\1017452822.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final["averageRating"].fillna(movie_final["vote_average"], inplace = True)

In [85]:
movie_final["runtimeMinutes"].fillna(movie_final["runtime"], inplace = True)

C:\Users\User\AppData\Local\Temp\ipykernel_12028\2703820425.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final["runtimeMinutes"].fillna(movie_final["runtime"], inplace = True)

In [87]:
movie_final.dropna(subset = "runtimeMinutes", inplace = True)

C:\Users\User\AppData\Local\Temp\ipykernel_12028\2756416086.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final.dropna(subset = "runtimeMinutes", inplace = True)

In [88]:
movie_final["numVotes"].fillna(movie_final["vote_count"], inplace = True)

C:\Users\User\AppData\Local\Temp\ipykernel_12028\3710999849.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  movie_final["numVotes"].fillna(movie_final["vote_count"], inplace = True)
C:\Users\User\AppData\Local\Temp\ipykernel_12028\3710999849.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final["numVotes"].fillna(movie_final["vote_count"], inplace = True)

In [101]:
movie_final.drop(columns = ["startYear", "runtime", "vote_average", "vote_count"], inplace = True)

C:\Users\User\AppData\Local\Temp\ipykernel_12028\3192185546.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final.drop(columns = ["startYear", "runtime", "vote_average", "vote_count"], inplace = True)

In [102]:
movie_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59702 entries, 0 to 82770
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   tconst                        59702 non-null  object
 1   primaryTitle                  59702 non-null  object
 2   originalTitle                 59702 non-null  object
 3   isAdult                       59702 non-null  float64
 4   runtimeMinutes                59702 non-null  object
 5   genres_x                      59384 non-null  object
 6   title_x                       59702 non-null  object
 7   averageRating                 59702 non-null  float64
 8   numVotes                      59702 non-null  float64
 9   backdrop_path                 47769 non-null  object
 10  genres_y                      59702 non-null  object
 11  id                            59702 non-null  float64
 12  original_language             59702 non-null  object
 13  overview                      57926 non-null  object
 14  popularity                    59702 non-null  float64
 15  poster_path                   58130 non-null  object
 16  release_date                  59702 non-null  object
 17  title_y                       59702 non-null  object
 18  production_companies_name     59702 non-null  object
 19  production_companies_country  25498 non-null  object
dtypes: float64(5), object(15)
memory usage: 11.6+ MB

In [45]:
list_of_movie = movie_final["tconst"].unique()

In [46]:
# pd.DataFrame(list_of_movie).to_csv("list_of_movie.csv")

From this list of movie, we filter the names thanks to title principals

In [47]:
link_prin = r"C:\Users\User\Wild_Code\Projects\Project_2\DB\title.principals.tsv.gz"
title_prin = pd.read_csv(link_prin, sep = "\t", na_values = r"\N")

In [48]:
title_prin[title_prin["tconst"].isin(list_of_movie)]

,tconst,ordering,nconst,category,job,characters
1421,tt0000591,1,nm0906197,actor,NaN,NaN
1422,tt0000591,2,nm0332182,actor,NaN,NaN
1423,tt0000591,3,nm1323543,actress,NaN,NaN
1424,tt0000591,4,nm1759558,actress,NaN,NaN
1425,tt0000591,5,nm0141150,director,NaN,NaN
...,...,...,...,...,...,...
85085818,tt9916362,20,nm0284765,editor,NaN,NaN
85085819,tt9916362,21,nm2857592,casting_director,NaN,NaN
85085820,tt9916362,22,nm1486091,casting_director,casting_director,NaN
85085821,tt9916362,23,nm7266158,casting_director,NaN,NaN
85085822,tt9916362,24,nm1409074,production_designer,NaN,NaN

In [49]:
title_prin = title_prin[title_prin["tconst"].isin(list_of_movie)]

In [50]:
title_prin.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1359144 entries, 1421 to 85085822
Data columns (total 6 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   tconst      1359144 non-null  object
 1   ordering    1359144 non-null  int64
 2   nconst      1359144 non-null  object
 3   category    1359144 non-null  object
 4   job         306426 non-null   object
 5   characters  650856 non-null   object
dtypes: int64(1), object(5)
memory usage: 72.6+ MB

In [51]:
# title_prin.to_csv("pivot_title_name.csv")

In [52]:
list_of_name = title_prin["nconst"].unique()

In [53]:
link_name = r"C:\Users\User\Wild_Code\Projects\Project_2\DB\name.basics.tsv.gz"
name_bas = pd.read_csv(link_name, sep = "\t", na_values = r"\N", low_memory = False)

In [54]:
name_bas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13409255 entries, 0 to 13409254
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   nconst             object
 1   primaryName        object
 2   birthYear          float64
 3   deathYear          float64
 4   primaryProfession  object
 5   knownForTitles     object
dtypes: float64(2), object(4)
memory usage: 613.8+ MB

In [55]:
name_bas[name_bas["nconst"].isin(list_of_name)]

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899.000,1987.000,"actor,miscellaneous,producer","tt0072308,tt0050419,tt0053137,tt0027125"
1,nm0000002,Lauren Bacall,1924.000,2014.000,"actress,soundtrack,archive_footage","tt0037382,tt0075213,tt0117057,tt0038355"
2,nm0000003,Brigitte Bardot,1934.000,NaN,"actress,music_department,producer","tt0057345,tt0049189,tt0056404,tt0054452"
3,nm0000004,John Belushi,1949.000,1982.000,"actor,writer,music_department","tt0072562,tt0077975,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,1918.000,2007.000,"writer,director,actor","tt0050986,tt0083922,tt0069467,tt0050976"
...,...,...,...,...,...,...
13409086,nm9993528,Alain Cueff,NaN,NaN,NaN,"tt31492754,tt2314629,tt9691440,tt0195447"
13409092,nm9993535,Henry Lawfull,2006.000,NaN,actor,"tt10187208,tt5900600"
13409162,nm9993616,Ryan Mac Lennan,NaN,NaN,actor,tt4844148
13409163,nm9993617,Dora Moutot,NaN,NaN,"writer,editor,archive_footage","tt12492840,tt13382720,tt9659966,tt3754568"
13409230,nm9993693,Apsara Rani,1996.000,NaN,actress,"tt12856788,tt8302382,tt13847502,tt8737752"

In [56]:
name_final = name_bas[name_bas["nconst"].isin(list_of_name)]

In [57]:
name_final["primaryProfession"][13409086].split(",")

AttributeError: 'float' object has no attribute 'split'

In [ ]:
# name_final.to_csv("name_final.csv")