In [1]:
import pandas as pd
pd.options.display.max_columns = 200
pd.options.display.float_format = '{:.3f}'.format

# Read links

In [2]:
# Read the right files to create our DB

link_bas = r"C:\Users\User\Wild_Code\Projects\Project_2\DB\title.basics.tsv.gz"
title_bas = pd.read_csv(link_bas, sep = "\t", low_memory = False, na_values = r"\N")

link_akas = r"C:\Users\User\Wild_Code\Projects\Project_2\DB\title.akas.tsv.gz"
title_akas = pd.read_csv(link_akas, sep = "\t", low_memory = False, na_values = r"\N")

In [3]:
title_bas[title_bas["titleType"] == "movie"].info()

<class 'pandas.core.frame.DataFrame'>
Index: 677353 entries, 8 to 10692994
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          677353 non-null  object
 1   titleType       677353 non-null  object
 2   primaryTitle    677351 non-null  object
 3   originalTitle   677351 non-null  object
 4   isAdult         677353 non-null  float64
 5   startYear       579409 non-null  float64
 6   endYear         0 non-null       float64
 7   runtimeMinutes  426122 non-null  object
 8   genres          602625 non-null  object
dtypes: float64(3), object(6)
memory usage: 51.7+ MB

In [4]:
link_rate = r"C:\Users\User\Wild_Code\Projects\Project_2\DB\title.ratings.tsv.gz"
title_rate = pd.read_csv(link_rate, sep = "\t", na_values = r"\N")

In [5]:
TMdb = pd.read_csv(r"C:\Users\User\Wild_Code\Projects\Project_2\DB\tmdb_full.csv", low_memory = False)

In [6]:
link_prin = r"C:\Users\User\Wild_Code\Projects\Project_2\DB\title.principals.tsv.gz"
title_prin = pd.read_csv(link_prin, sep = "\t", na_values = r"\N")

In [7]:
link_name = r"C:\Users\User\Wild_Code\Projects\Project_2\DB\name.basics.tsv.gz"
name_bas = pd.read_csv(link_name, sep = "\t", na_values = r"\N", low_memory = False)

# Run from here after reading the links

In [8]:
# Get the list of existing type in title_basics
title_bas["titleType"].unique()

array(['short', 'movie', 'tvShort', 'tvMovie', 'tvSeries', 'tvEpisode',
       'tvMiniSeries', 'tvSpecial', 'video', 'videoGame', 'tvPilot'],
      dtype=object)

In [9]:
# Creation of the DB with only movies without genre Adult
df_movie = title_bas[(~title_bas["genres"].str.contains("Adult", na = False)) & (title_bas["titleType"].str.contains("movie", na = False))]

In [10]:
len(df_movie["tconst"])

668387

In [11]:
title_akas.sample(5)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
18929505,tt15750424,4,Épisode datant du 5 novembre 2021,FR,fr,NaN,NaN,0
18865290,tt1572481,2,Episódio datado de 26 Junho de 1978,PT,pt,NaN,NaN,0
36917919,tt4191744,4,Épisode #2.10,FR,fr,NaN,NaN,0
41795093,tt6988976,1,Eine zweite Chance,NaN,NaN,original,NaN,1
38541809,tt5087660,3,एपिसोड #1.6,IN,hi,NaN,NaN,0

In [12]:
# Creation of the list of traduced title
fr_akas = title_akas[["titleId","title", "types", "region"]][title_akas["region"].str.contains("FR", na = False)]

In [13]:
fr_akas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4696869 entries, 12 to 47953103
Data columns (total 4 columns):
 #   Column   Dtype
---  ------   -----
 0   titleId  object
 1   title    object
 2   types    object
 3   region   object
dtypes: object(4)
memory usage: 179.2+ MB

In [14]:
fr_akas["types"].value_counts()

types
imdbDisplay    158705
alternative      6042
working          2220
tv               1804
dvd              1528
video            1503
festival          945
Name: count, dtype: int64

In [15]:
# Add the title type on akas to filter just the movies
fr_akas = fr_akas.merge(title_bas["titleType"], how = "left", left_on = fr_akas["titleId"], right_on = title_bas["tconst"])

In [16]:
fr_akas = fr_akas[fr_akas["titleType"] == "movie"]

In [17]:
fr_akas

,key_0,titleId,title,types,region,titleType
366,tt0000591,tt0000591,L'enfant prodigue,imdbDisplay,FR,movie
392,tt0000886,tt0000886,Hamlet,imdbDisplay,FR,movie
410,tt0001101,tt0001101,La Clémence d'Abraham Lincoln,imdbDisplay,FR,movie
411,tt0001109,tt0001109,L'aluminite,imdbDisplay,FR,movie
413,tt0001122,tt0001122,L'auberge rouge,imdbDisplay,FR,movie
...,...,...,...,...,...,...
4696279,tt9913936,tt9913936,Le paradis de Diego,imdbDisplay,FR,movie
4696364,tt9914164,tt9914164,Une vie de château,imdbDisplay,FR,movie
4696701,tt9915790,tt9915790,Bobbyr Bondhura,imdbDisplay,FR,movie
4696752,tt9916162,tt9916162,Making of 'La Virgen de los sicarios',imdbDisplay,FR,movie
4696772,tt9916362,tt9916362,Les sorcières d'Akelarre,imdbDisplay,FR,movie

In [18]:
fr_akas["types"].value_counts()

types
imdbDisplay    64859
alternative     3239
working         1678
tv              1402
video           1304
dvd              970
festival         736
Name: count, dtype: int64

In [19]:
fr_akas[fr_akas.duplicated(subset = "titleId", keep = False)]

,key_0,titleId,title,types,region,titleType
532,tt0002423,tt0002423,La Du Barry,NaN,FR,movie
533,tt0002423,tt0002423,Madame du Barry,alternative,FR,movie
534,tt0002423,tt0002423,Passion,imdbDisplay,FR,movie
566,tt0002844,tt0002844,The Phantom Crook,imdbDisplay,FR,movie
567,tt0002844,tt0002844,Fantômas,NaN,FR,movie
...,...,...,...,...,...,...
4692232,tt9896916,tt9896916,Le Voyage du Pèlerin,imdbDisplay,FR,movie
4693754,tt9904530,tt9904530,Scream Returns,imdbDisplay,FR,movie
4693755,tt9904530,tt9904530,Scream Returns - Fan Film Spin-Off,NaN,FR,movie
4694579,tt9907782,tt9907782,The Cursed,alternative,FR,movie
4694580,tt9907782,tt9907782,Eight for Silver,imdbDisplay,FR,movie

In [20]:
dupli_akas = fr_akas[fr_akas.duplicated(subset = "titleId", keep = False)]

In [21]:
len(dupli_akas["titleId"].unique())

8190

In [22]:
len(dupli_akas["titleId"][dupli_akas["types"] == "imdbDisplay"].unique())

6613

In [23]:
dupli_akas["types"].value_counts()

types
imdbDisplay    7023
alternative    2646
working        1572
video           887
tv              621
dvd             519
festival        224
Name: count, dtype: int64

In [24]:
dupli_akas["types"] = dupli_akas["types"].apply(lambda x: "aaimdbDisplay" if x == "imdbDisplay" else x)

C:\Users\User\AppData\Local\Temp\ipykernel_20524\3779870368.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dupli_akas["types"] = dupli_akas["types"].apply(lambda x: "aaimdbDisplay" if x == "imdbDisplay" else x)

In [25]:
dupli_akas.sort_values(by = "types", inplace = True)

C:\Users\User\AppData\Local\Temp\ipykernel_20524\3440819965.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dupli_akas.sort_values(by = "types", inplace = True)

In [26]:
# Removing the duplicated lines (same movie with different fr akas)
dupli_akas.drop_duplicates(subset = ["titleId"], inplace = True)

C:\Users\User\AppData\Local\Temp\ipykernel_20524\1851943322.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dupli_akas.drop_duplicates(subset = ["titleId"], inplace = True)

In [27]:
# Removing all duplicated lines (same movie with different fr akas)
fr_akas.drop_duplicates(subset = ["titleId"], keep = False, inplace = True)

In [28]:
# Add the unique title from the duplicated list 
fr_akas = pd.concat([fr_akas, dupli_akas])

In [29]:
fr_akas

,key_0,titleId,title,types,region,titleType
366,tt0000591,tt0000591,L'enfant prodigue,imdbDisplay,FR,movie
392,tt0000886,tt0000886,Hamlet,imdbDisplay,FR,movie
410,tt0001101,tt0001101,La Clémence d'Abraham Lincoln,imdbDisplay,FR,movie
411,tt0001109,tt0001109,L'aluminite,imdbDisplay,FR,movie
413,tt0001122,tt0001122,L'auberge rouge,imdbDisplay,FR,movie
...,...,...,...,...,...,...
4044164,tt6867320,tt6867320,Les cercles du vicieux,NaN,FR,movie
4150053,tt7443988,tt7443988,Global gâchis,NaN,FR,movie
4186078,tt7662854,tt7662854,Le Viceconsul,NaN,FR,movie
4322046,tt8309482,tt8309482,"DESTIN COMMUN, Hommage à 3 précurseurs du 7ème...",NaN,FR,movie
4527314,tt9234412,tt9234412,Le bagage ultime,NaN,FR,movie

In [30]:
fr_akas["titleId"].value_counts()

titleId
tt0000591     1
tt19363554    1
tt1935956     1
tt1935947     1
tt1935940     1
             ..
tt0135470     1
tt0135459     1
tt0135454     1
tt0135397     1
tt9234412     1
Name: count, Length: 85289, dtype: int64

In [31]:
# Merging (INNER) movies and akas to get only the translated movies
movies_frt = df_movie.merge(fr_akas["title"], how = "inner", left_on = df_movie["tconst"], right_on = fr_akas["titleId"])

In [32]:
movies_frt

,key_0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,title
0,tt0000591,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0.000,1907.000,NaN,90,Drama,L'enfant prodigue
1,tt0000886,tt0000886,movie,"Hamlet, Prince of Denmark",Hamlet,0.000,1910.000,NaN,NaN,Drama,Hamlet
2,tt0001101,tt0001101,movie,Abraham Lincoln's Clemency,Abraham Lincoln's Clemency,0.000,1910.000,NaN,NaN,NaN,La Clémence d'Abraham Lincoln
3,tt0001109,tt0001109,movie,L'aluminite,L'aluminite,0.000,1910.000,NaN,NaN,NaN,L'aluminite
4,tt0001122,tt0001122,movie,The Red Inn,L'auberge rouge,0.000,1910.000,NaN,NaN,NaN,L'auberge rouge
...,...,...,...,...,...,...,...,...,...,...,...
83916,tt9913936,tt9913936,movie,Paradise,Paradise,0.000,2019.000,NaN,135,"Crime,Drama",Le paradis de Diego
83917,tt9914164,tt9914164,movie,Une vie de château,Une vie de château,0.000,2019.000,NaN,55,Documentary,Une vie de château
83918,tt9915790,tt9915790,movie,Bobbyr Bondhura,Bobbyr Bondhura,0.000,2019.000,NaN,106,Family,Bobbyr Bondhura
83919,tt9916162,tt9916162,movie,Making of 'La Virgen de los sicarios',Making of 'La Virgen de los sicarios',0.000,1999.000,NaN,45,Documentary,Making of 'La Virgen de los sicarios'
83920,tt9916362,tt9916362,movie,Coven,Akelarre,0.000,2020.000,NaN,92,"Drama,History",Les sorcières d'Akelarre

In [33]:
title_rate

            tconst  averageRating  numVotes
0        tt0000001          5.700      2041
1        tt0000002          5.700       273
2        tt0000003          6.500      1998
3        tt0000004          5.400       178
4        tt0000005          6.200      2758
...            ...            ...       ...
1425216  tt9916730          7.000        12
1425217  tt9916766          7.100        23
1425218  tt9916778          7.200        36
1425219  tt9916840          7.000         9
1425220  tt9916880          8.500         7

[1425221 rows x 3 columns]

In [34]:
movies_frt.drop(columns = "key_0", inplace = True)

In [35]:
# Merging (LEFT) fr_movies with ratings
movies_frt = movies_frt.merge(title_rate[["averageRating", "numVotes"]], how = "left", left_on = movies_frt["tconst"], right_on = title_rate["tconst"])

In [36]:
movies_frt.drop(columns = "key_0", inplace = True)

In [37]:
# Final selection of movies before dropping columns

movie_final = movies_frt.merge(TMdb, how = "left", left_on = movies_frt["tconst"], right_on = TMdb["imdb_id"])

In [38]:
display(movie_final.info(),
        movie_final.describe(),
        movie_final.sample(10))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83921 entries, 0 to 83920
Data columns (total 38 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   key_0                         83921 non-null  object
 1   tconst                        83921 non-null  object
 2   titleType                     83921 non-null  object
 3   primaryTitle                  83921 non-null  object
 4   originalTitle                 83921 non-null  object
 5   isAdult                       83921 non-null  float64
 6   startYear                     82369 non-null  float64
 7   endYear                       0 non-null      float64
 8   runtimeMinutes                77273 non-null  object
 9   genres_x                      80261 non-null  object
 10  title_x                       83921 non-null  object
 11  averageRating                 67794 non-null  float64
 12  numVotes                      67794 non-null  float64
 13  adult                         60640 non-null  object
 14  backdrop_path                 48002 non-null  object
 15  budget                        60640 non-null  float64
 16  genres_y                      60640 non-null  object
 17  homepage                      9236 non-null   object
 18  id                            60640 non-null  float64
 19  imdb_id                       60640 non-null  object
 20  original_language             60640 non-null  object
 21  original_title                60640 non-null  object
 22  overview                      58672 non-null  object
 23  popularity                    60640 non-null  float64
 24  poster_path                   58732 non-null  object
 25  production_countries          60640 non-null  object
 26  release_date                  60238 non-null  object
 27  revenue                       60640 non-null  float64
 28  runtime                       60640 non-null  float64
 29  spoken_languages              60640 non-null  object
 30  status                        60640 non-null  object
 31  tagline                       27381 non-null  object
 32  title_y                       60640 non-null  object
 33  video                         60640 non-null  object
 34  vote_average                  60640 non-null  float64
 35  vote_count                    60640 non-null  float64
 36  production_companies_name     60640 non-null  object
 37  production_companies_country  26372 non-null  object
dtypes: float64(12), object(26)
memory usage: 24.3+ MB

None

,isAdult,startYear,endYear,averageRating,numVotes,budget,id,popularity,revenue,runtime,vote_average,vote_count
count,83921.000,82369.000,0.000,67794.000,67794.000,60640.000,60640.000,60640.000,60640.000,60640.000,60640.000,60640.000
mean,0.002,1987.468,NaN,6.112,15429.025,4104837.435,256218.334,7.448,10967863.607,94.777,5.416,299.296
std,0.044,31.050,NaN,1.117,75769.727,17980564.376,275929.635,46.959,66933568.080,184.508,2.083,1299.790
min,0.000,1903.000,NaN,1.000,5.000,0.000,2.000,0.600,0.000,0.000,0.000,0.000
25%,0.000,1965.000,NaN,5.500,113.000,0.000,43503.750,1.220,0.000,86.000,5.000,4.000
50%,0.000,1997.000,NaN,6.200,624.000,0.000,135981.000,2.686,0.000,95.000,6.000,16.000
75%,0.000,2015.000,NaN,6.900,3652.000,0.000,407967.000,7.404,0.000,105.000,6.700,89.000
max,1.000,2031.000,NaN,10.000,2881964.000,579330426.000,1122335.000,5089.969,2923706026.000,43200.000,10.000,33630.000

,key_0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres_x,title_x,averageRating,numVotes,adult,backdrop_path,budget,genres_y,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title_y,video,vote_average,vote_count,production_companies_name,production_companies_country
43869,tt0376479,tt0376479,movie,American Pastoral,American Pastoral,0.000,2016.000,NaN,108,"Crime,Drama,Mystery",American Pastoral,6.100,18033.000,False,/fDxdfM4Qj2Qhc6EZYPyB3k4xatw.jpg,0.000,"['Crime', 'Drama']",http://www.americanpastoral.movie/,326285.000,tt0376479,en,American Pastoral,"Set in postwar America, a man watches his seem...",14.860,/5RSZR8clQh6170hRODWH5yS9nHS.jpg,"['HK', 'US']",2016-10-20,0.000,108.000,['en'],Released,A radically ordinary story.,American Pastoral,False,6.135,621.000,"['TIK Films', 'Lakeshore Entertainment', 'Lion...",NaN
71943,tt3514564,tt3514564,movie,Le capitaine jaune,Le capitaine jaune,0.000,1930.000,NaN,NaN,Drama,Le capitaine jaune,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75101,tt4898360,tt4898360,movie,How to Shake Off a Bride,Jak se zbavit nevesty,0.000,2016.000,NaN,NaN,Comedy,Comment se débarrasser d'une mariée,4.800,94.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62696,tt1941512,tt1941512,movie,Duam dritë,Duam dritë,0.000,2011.000,NaN,NaN,Documentary,Duam dritë,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27876,tt0106308,tt0106308,movie,Army of Darkness,Army of Darkness,0.000,1992.000,NaN,81,"Comedy,Horror",L'armée des ténèbres - Evil Dead III,7.400,194089.000,False,/xErw1pfmyWYQcXIlXipPY3O9uRH.jpg,11000000.000,"['Fantasy', 'Horror', 'Comedy']",NaN,766.000,tt0106308,en,Army of Darkness,"Ash, a handsome, shotgun-toting, chainsaw-arme...",43.253,/xsgTuAtR2zSH8Umg3jWZcZjlDpe.jpg,['US'],1992-10-31,21502976.000,81.000,['en'],Released,Trapped in time. Surrounded by evil. Low on gas.,Army of Darkness,False,7.271,2691.000,"['Renaissance Pictures', 'Dino De Laurentiis C...","['US', 'US', '', 'US']"
64510,tt21608636,tt21608636,movie,In the Footsteps of Monsieur Hulot,Tati sur les pas de Mr Hulot,0.000,1989.000,NaN,103,Documentary,Tati sur les pas de Mr Hulot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63623,tt2063647,tt2063647,movie,Et ta soeur!,Et ta soeur!,0.000,2011.000,NaN,64,"Documentary,News",Et ta soeur!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28326,tt0108260,tt0108260,movie,Suture,Suture,0.000,1993.000,NaN,96,"Drama,Thriller",Suture,6.500,2149.000,False,/yZ0vdcZ5YG8IB8JNBj13P6mtDxG.jpg,0.000,"['Drama', 'Thriller']",NaN,87078.000,tt0108260,en,Suture,Brothers Vincent and Clay meet up for the firs...,4.148,/89jGoGPFqOl6JR144iEOxeciggM.jpg,['US'],1993-09-14,102780.000,96.000,['en'],Released,A thriller where nothing is black and white.,Suture,False,6.300,29.000,['Kino Korsakoff'],NaN
15472,tt0060793,tt0060793,movie,Operation Counterspy,Asso di picche - Operazione controspionaggio,0.000,1965.000,NaN,107,Adventure,As de pique,5.600,31.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37199,tt0201547,tt0201547,movie,Le crime des hommes,Le crime des hommes,0.000,1923.000,NaN,NaN,NaN,Le crime des hommes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
# Which TMdb genre for NA genre in IMDB
movie_final[movie_final["genres_x"].isna()]["genres_y"].unique()

array(['[]', nan, "['Drama', 'History']", "['Drama']",
       "['Science Fiction']", "['Mystery', 'Crime']", "['Comedy']",
       "['Adventure']", "['Drama', 'Comedy']", "['Crime', 'Drama']",
       "['Comedy', 'Drama']", "['Drama', 'Action', 'Adventure']",
       "['Music', 'Comedy']", "['Adventure', 'Drama']",
       "['Romance', 'Comedy']", "['Romance', 'Drama']",
       "['Drama', 'War']", "['Comedy', 'Music']", "['Drama', 'Music']",
       "['Music', 'Romance', 'Drama']", "['Family', 'Music']",
       "['Music']", "['Crime']", "['Romance']", "['Drama', 'Family']",
       "['Documentary']", "['Comedy', 'Drama', 'Romance']",
       "['Drama', 'Documentary']", "['Thriller']", "['Crime', 'Comedy']",
       "['Thriller', 'Drama']", "['Family', 'Drama']",
       "['Comedy', 'Romance']", "['Drama', 'Romance']",
       "['Action', 'Comedy']", "['Action', 'Adventure', 'History']",
       "['History']", "['Crime', 'Action', 'Drama']",
       "['Crime', 'Action']", "['Drama', 'Drama']",
       "['Drama', 'History', 'Fantasy']", "['Horror']",
       "['Fantasy', 'Music']", "['Documentary', 'History']",
       "['Thriller', 'Crime']", "['Comedy', 'Family']",
       "['Music', 'Family', 'Drama']", "['Comedy', 'Thriller']",
       "['Fantasy']", "['Documentary', 'Drama']", "['Animation']",
       "['Science Fiction', 'Comedy']", "['Music', 'Documentary']",
       "['Documentary', 'War', 'History']",
       "['Documentary', 'Adventure']", "['Documentary', 'Animation']",
       "['Crime', 'Science Fiction', 'Thriller']",
       "['Animation', 'Family']", "['Thriller', 'Horror']"], dtype=object)

In [40]:
to_add = movie_final[(movie_final["genres_x"].isna()) & (movie_final["genres_y"].notna()) & (movie_final["genres_y"] != "[]")]

In [41]:
to_add

,key_0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres_x,title_x,averageRating,numVotes,adult,backdrop_path,budget,genres_y,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title_y,video,vote_average,vote_count,production_companies_name,production_companies_country
18,tt0002375,tt0002375,movie,La mort du duc d'Enghien,La mort du duc d'Enghien,0.000,1912.000,NaN,NaN,NaN,La mort du duc d'Enghien,5.700,12.000,False,NaN,0.000,"['Drama', 'History']",NaN,285335.000,tt0002375,en,La Mort du duc d'Enghien,Directed by Albert Capellani.,0.823,/1D9MCUxnl4nzFVlJNsppP6Sdk94.jpg,['FR'],1912-01-02,0.000,15.000,[],Released,NaN,The Death of the Duke of Enghien,False,0.000,1.000,['Pathé'],NaN
58,tt0003960,tt0003960,movie,Loyalty,La fille de Delft,0.000,1914.000,NaN,68,NaN,La tulipe d'or,6.100,33.000,False,NaN,0.000,['Drama'],NaN,321824.000,tt0003960,fr,La fille de Delft,"Kaatje, the daughter of the miller Schoonejans...",1.400,NaN,['BE'],1914-04-23,0.000,71.000,['fr'],Released,NaN,Loyalty,False,6.500,1.000,['Pathé Frères'],NaN
117,tt0005813,tt0005813,movie,Nikolay Stavrogin,Nikolay Stavrogin,0.000,1915.000,NaN,NaN,NaN,Nicolas Stavroguine,NaN,NaN,False,NaN,0.000,['Drama'],NaN,878872.000,tt0005813,ru,Николай Ставрогин,NaN,0.600,NaN,['RU'],1915-09-01,0.000,0.000,[],Released,NaN,Nikolay Stavrogin,False,0.000,0.000,[],[]
135,tt0006233,tt0006233,movie,Volonté,Volonté,0.000,1917.000,NaN,NaN,NaN,Volonté,NaN,NaN,False,NaN,0.000,['Drama'],NaN,282258.000,tt0006233,en,Volonté,"The story takes place in the Parisian ""High So...",0.600,NaN,['FR'],1917-04-13,0.000,0.000,['fr'],Released,NaN,Will,False,0.000,0.000,[],NaN
183,tt0006713,tt0006713,movie,Les gaz mortels,Les gaz mortels,0.000,1916.000,NaN,71,NaN,Le brouillard sur la ville,6.000,48.000,False,NaN,0.000,['Science Fiction'],NaN,607385.000,tt0006713,fr,Les gaz mortels,"Hopson, a prestigious scientist, studies the e...",1.200,/wgO8saob0oVBtzUzi1WYcuJmKGO.jpg,['FR'],1916-09-01,0.000,71.000,['fr'],Released,NaN,Les gaz mortels,False,5.000,1.000,"[""Le Film d'Art""]",['FR']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80963,tt7999612,tt7999612,movie,Mescaline,Mescaline,0.000,2018.000,NaN,45,NaN,Mescaline,6.400,14.000,False,NaN,0.000,['Drama'],NaN,506605.000,tt7999612,fr,Mescaline,Under the influence of a hallucinogenic cactus...,1.379,/xskj9TTbEykHGg1XXfNGBjnBqop.jpg,['FR'],2018-02-03,0.000,45.000,['fr'],Released,NaN,Mescaline,False,7.500,1.000,"['24images', 'Les films du Bélier']","['FR', 'FR']"
82161,tt8699536,tt8699536,movie,Monsieur Constant,Monsieur Constant,0.000,2023.000,NaN,108,NaN,Monsieur Constant,4.600,5.000,False,NaN,0.000,"['Comedy', 'Drama']",NaN,1064998.000,tt8699536,fr,Monsieur Constant,"On the island of the monks in Brittany, Consta...",0.680,/rI9jYMTYjR5AVMxQcPshTtsf35A.jpg,[],2023-02-08,0.000,0.000,"['fr', 'ru']",Released,NaN,Monsieur Constant,False,0.000,0.000,[],[]
82167,tt8705634,tt8705634,movie,Facing Krampus,Klausentreiben,0.000,2021.000,NaN,45,NaN,Gare au Krampus,NaN,NaN,False,NaN,30000.000,"['Thriller', 'Horror']",https://www.filmschule.de/en/projects-films/kl...,890967.000,tt8705634,de,Klausentreiben,During her internship in a remote clinic in th...,0.645,/mXjcpwjZFWKZLQnyzSB62xzXa8W.jpg,['DE'],2021-05-15,0.000,45.000,['de'],Released,NaN,Facing Krampus,False,10.000,1.000,"['ifs internationale filmschule köln gmbh', 'F...","['DE', 'DE']"
82369,tt8832044,tt8832044,movie,Régénération,Régénération,0.000,2018.000,NaN,86,NaN,Régénération,NaN,NaN,False,/kBY0qDK4XsL9OSziAimAeRtV8UP.jpg,0.000,['Documentary'],NaN,591053.000,tt8832044,fr,Régénération,NaN,0.885,/o4oLL5g6fE7yNORyo5jsfFizzk4.jpg,['FR'],2018-11-21,0.000,0.000,['fr'],Released,NaN,Regeneration,False,10.000,1.000,['DHR'],['']
82770,tt9065600,tt9065600,movie,Une fois comme jamais,Une fois comme jamais,0.000,2018.000,NaN,78,NaN,Une fois comme jamais,NaN,NaN,False,/7VOHQlo57Yub5Wb3jWEF0UJ6mYJ.jpg,0.000,"['Comedy', 'Drama']",NaN,550510.000,tt9065600,fr,Une fois comme jamais,NaN,0.600,/4N3o8B9TVhG07Si35Y8FTd1CNLj.jpg,['FR'],2018-10-03,0.000,0.000,['fr'],Released,NaN,Une fois comme jamais,False,0.000,0.000,['Mosaïque Films'],['FR']

In [42]:
movie_final.drop(movie_final[movie_final["genres_x"].isna()].index, inplace = True)

In [43]:
movie_final

,key_0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres_x,title_x,averageRating,numVotes,adult,backdrop_path,budget,genres_y,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title_y,video,vote_average,vote_count,production_companies_name,production_companies_country
0,tt0000591,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0.000,1907.000,NaN,90,Drama,L'enfant prodigue,5.400,24.000,False,NaN,0.000,['Drama'],NaN,396922.000,tt0000591,fr,L'enfant prodigue,The first feature-length motion picture produc...,0.600,NaN,['FR'],1907-06-19,0.000,90.000,['xx'],Released,NaN,The Prodigal Son,False,0.000,0.000,['Pathé Frères'],['FR']
1,tt0000886,tt0000886,movie,"Hamlet, Prince of Denmark",Hamlet,0.000,1910.000,NaN,NaN,Drama,Hamlet,4.600,41.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,tt0001175,tt0001175,movie,Camille,La dame aux camélias,0.000,1912.000,NaN,NaN,"Drama,Romance",La dame aux camélias,5.200,45.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,tt0001614,tt0001614,movie,The Four Devils,De fire djævle,0.000,1911.000,NaN,60,Drama,Les Quatre Diables,6.400,42.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,tt0001790,tt0001790,movie,"Les Misérables, Part 1: Jean Valjean",Les misérables - Époque 1: Jean Valjean,0.000,1913.000,NaN,60,Drama,Les misérables - Époque 1: Jean Valjean,6.000,52.000,False,NaN,0.000,['History'],NaN,282219.000,tt0001790,en,Les misérables - Époque 1: Jean Valjean,The story begins with Jean Valjean as a humble...,0.874,NaN,['FR'],1913-01-01,0.000,60.000,['fr'],Released,NaN,Les Misérables - Part 1: Jean Valjean,False,1.000,1.000,['Pathé Frères'],NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83916,tt9913936,tt9913936,movie,Paradise,Paradise,0.000,2019.000,NaN,135,"Crime,Drama",Le paradis de Diego,7.400,61.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83917,tt9914164,tt9914164,movie,Une vie de château,Une vie de château,0.000,2019.000,NaN,55,Documentary,Une vie de château,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83918,tt9915790,tt9915790,movie,Bobbyr Bondhura,Bobbyr Bondhura,0.000,2019.000,NaN,106,Family,Bobbyr Bondhura,6.900,43.000,False,/9Zqup9L9zGMyDijAeKFkelcknp.jpg,0.000,['Drama'],NaN,591918.000,tt9915790,bn,Bobbyr Bondhura,Little Bobby goes missing after the separation...,0.600,/6trvIgsbe5rBlL1GoR6rJnNA3tv.jpg,['IN'],2019-03-08,0.000,106.000,[],Released,NaN,Bobbyr Bondhura,False,0.000,0.000,[],[]
83919,tt9916162,tt9916162,movie,Making of 'La Virgen de los sicarios',Making of 'La Virgen de los sicarios',0.000,1999.000,NaN,45,Documentary,Making of 'La Virgen de los sicarios',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83920,tt9916362,tt9916362,movie,Coven,Akelarre,0.000,2020.000,NaN,92,"Drama,History",Les sorcières d'Akelarre,6.400,5768.000,False,/imgc14olSDlAlf1z3nC11cL8Zyn.jpg,0.000,"['Drama', 'History']",http://www.avalon.me/production/feature-films/...,655187.000,tt9916362,eu,Akelarre,"French Basque Country, year 1609. The men of a...",8.629,/lyB3yoQbGO3LiCVuSOD2g17Hr6p.jpg,"['AR', 'ES', 'FR']",2020-10-02,0.000,92.000,"['eu', 'es']",Released,NaN,Coven,False,6.708,257.000,"['INCAA', 'La Fidèle Production', 'Lamia Produ...","['AR', 'FR', 'ES', 'FR', 'ES', 'ES', 'AR', 'ES..."

In [44]:
movie_final = pd.concat([movie_final, to_add])

In [45]:
movie_final

,key_0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres_x,title_x,averageRating,numVotes,adult,backdrop_path,budget,genres_y,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title_y,video,vote_average,vote_count,production_companies_name,production_companies_country
0,tt0000591,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0.000,1907.000,NaN,90,Drama,L'enfant prodigue,5.400,24.000,False,NaN,0.000,['Drama'],NaN,396922.000,tt0000591,fr,L'enfant prodigue,The first feature-length motion picture produc...,0.600,NaN,['FR'],1907-06-19,0.000,90.000,['xx'],Released,NaN,The Prodigal Son,False,0.000,0.000,['Pathé Frères'],['FR']
1,tt0000886,tt0000886,movie,"Hamlet, Prince of Denmark",Hamlet,0.000,1910.000,NaN,NaN,Drama,Hamlet,4.600,41.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,tt0001175,tt0001175,movie,Camille,La dame aux camélias,0.000,1912.000,NaN,NaN,"Drama,Romance",La dame aux camélias,5.200,45.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,tt0001614,tt0001614,movie,The Four Devils,De fire djævle,0.000,1911.000,NaN,60,Drama,Les Quatre Diables,6.400,42.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,tt0001790,tt0001790,movie,"Les Misérables, Part 1: Jean Valjean",Les misérables - Époque 1: Jean Valjean,0.000,1913.000,NaN,60,Drama,Les misérables - Époque 1: Jean Valjean,6.000,52.000,False,NaN,0.000,['History'],NaN,282219.000,tt0001790,en,Les misérables - Époque 1: Jean Valjean,The story begins with Jean Valjean as a humble...,0.874,NaN,['FR'],1913-01-01,0.000,60.000,['fr'],Released,NaN,Les Misérables - Part 1: Jean Valjean,False,1.000,1.000,['Pathé Frères'],NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80963,tt7999612,tt7999612,movie,Mescaline,Mescaline,0.000,2018.000,NaN,45,NaN,Mescaline,6.400,14.000,False,NaN,0.000,['Drama'],NaN,506605.000,tt7999612,fr,Mescaline,Under the influence of a hallucinogenic cactus...,1.379,/xskj9TTbEykHGg1XXfNGBjnBqop.jpg,['FR'],2018-02-03,0.000,45.000,['fr'],Released,NaN,Mescaline,False,7.500,1.000,"['24images', 'Les films du Bélier']","['FR', 'FR']"
82161,tt8699536,tt8699536,movie,Monsieur Constant,Monsieur Constant,0.000,2023.000,NaN,108,NaN,Monsieur Constant,4.600,5.000,False,NaN,0.000,"['Comedy', 'Drama']",NaN,1064998.000,tt8699536,fr,Monsieur Constant,"On the island of the monks in Brittany, Consta...",0.680,/rI9jYMTYjR5AVMxQcPshTtsf35A.jpg,[],2023-02-08,0.000,0.000,"['fr', 'ru']",Released,NaN,Monsieur Constant,False,0.000,0.000,[],[]
82167,tt8705634,tt8705634,movie,Facing Krampus,Klausentreiben,0.000,2021.000,NaN,45,NaN,Gare au Krampus,NaN,NaN,False,NaN,30000.000,"['Thriller', 'Horror']",https://www.filmschule.de/en/projects-films/kl...,890967.000,tt8705634,de,Klausentreiben,During her internship in a remote clinic in th...,0.645,/mXjcpwjZFWKZLQnyzSB62xzXa8W.jpg,['DE'],2021-05-15,0.000,45.000,['de'],Released,NaN,Facing Krampus,False,10.000,1.000,"['ifs internationale filmschule köln gmbh', 'F...","['DE', 'DE']"
82369,tt8832044,tt8832044,movie,Régénération,Régénération,0.000,2018.000,NaN,86,NaN,Régénération,NaN,NaN,False,/kBY0qDK4XsL9OSziAimAeRtV8UP.jpg,0.000,['Documentary'],NaN,591053.000,tt8832044,fr,Régénération,NaN,0.885,/o4oLL5g6fE7yNORyo5jsfFizzk4.jpg,['FR'],2018-11-21,0.000,0.000,['fr'],Released,NaN,Regeneration,False,10.000,1.000,['DHR'],['']
82770,tt9065600,tt9065600,movie,Une fois comme jamais,Une fois comme jamais,0.000,2018.000,NaN,78,NaN,Une fois comme jamais,NaN,NaN,False,/7VOHQlo57Yub5Wb3jWEF0UJ6mYJ.jpg,0.000,"['Comedy', 'Drama']",NaN,550510.000,tt9065600,fr,Une fois comme jamais,NaN,0.600,/4N3o8B9TVhG07Si35Y8FTd1CNLj.jpg,['FR'],2018-10-03,0.000,0.000,['fr'],Released,NaN,Une fois comme jamais,False,0.000,0.000,['Mosaïque Films'],['FR']

In [46]:
# movie_final.to_csv("movie_final.csv")

In [47]:
movie_final["status"].value_counts()

status
Released           59703
Post Production      329
In Production        217
Planned               92
Canceled               3
Rumored                2
Name: count, dtype: int64

In [48]:
movie_final = movie_final[movie_final["status"] == "Released"]

In [49]:
movie_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59703 entries, 0 to 82770
Data columns (total 38 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   key_0                         59703 non-null  object
 1   tconst                        59703 non-null  object
 2   titleType                     59703 non-null  object
 3   primaryTitle                  59703 non-null  object
 4   originalTitle                 59703 non-null  object
 5   isAdult                       59703 non-null  float64
 6   startYear                     59691 non-null  float64
 7   endYear                       0 non-null      float64
 8   runtimeMinutes                59198 non-null  object
 9   genres_x                      59385 non-null  object
 10  title_x                       59703 non-null  object
 11  averageRating                 58287 non-null  float64
 12  numVotes                      58287 non-null  float64
 13  adult                         59703 non-null  object
 14  backdrop_path                 47770 non-null  object
 15  budget                        59703 non-null  float64
 16  genres_y                      59703 non-null  object
 17  homepage                      9136 non-null   object
 18  id                            59703 non-null  float64
 19  imdb_id                       59703 non-null  object
 20  original_language             59703 non-null  object
 21  original_title                59703 non-null  object
 22  overview                      57927 non-null  object
 23  popularity                    59703 non-null  float64
 24  poster_path                   58131 non-null  object
 25  production_countries          59703 non-null  object
 26  release_date                  59627 non-null  object
 27  revenue                       59703 non-null  float64
 28  runtime                       59703 non-null  float64
 29  spoken_languages              59703 non-null  object
 30  status                        59703 non-null  object
 31  tagline                       27294 non-null  object
 32  title_y                       59703 non-null  object
 33  video                         59703 non-null  object
 34  vote_average                  59703 non-null  float64
 35  vote_count                    59703 non-null  float64
 36  production_companies_name     59703 non-null  object
 37  production_companies_country  25498 non-null  object
dtypes: float64(12), object(26)
memory usage: 17.8+ MB

In [50]:
movie_final.drop(columns = ["key_0", "titleType", "endYear", "adult", "budget", "homepage", "production_countries", "original_title", "revenue", "spoken_languages", "status", "tagline", "video"], inplace = True)

C:\Users\User\AppData\Local\Temp\ipykernel_20524\1068206921.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final.drop(columns = ["key_0", "titleType", "endYear", "adult", "budget", "homepage", "production_countries", "original_title", "revenue", "spoken_languages", "status", "tagline", "video"], inplace = True)

In [51]:
movie_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59703 entries, 0 to 82770
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   tconst                        59703 non-null  object
 1   primaryTitle                  59703 non-null  object
 2   originalTitle                 59703 non-null  object
 3   isAdult                       59703 non-null  float64
 4   startYear                     59691 non-null  float64
 5   runtimeMinutes                59198 non-null  object
 6   genres_x                      59385 non-null  object
 7   title_x                       59703 non-null  object
 8   averageRating                 58287 non-null  float64
 9   numVotes                      58287 non-null  float64
 10  backdrop_path                 47770 non-null  object
 11  genres_y                      59703 non-null  object
 12  id                            59703 non-null  float64
 13  imdb_id                       59703 non-null  object
 14  original_language             59703 non-null  object
 15  overview                      57927 non-null  object
 16  popularity                    59703 non-null  float64
 17  poster_path                   58131 non-null  object
 18  release_date                  59627 non-null  object
 19  runtime                       59703 non-null  float64
 20  title_y                       59703 non-null  object
 21  vote_average                  59703 non-null  float64
 22  vote_count                    59703 non-null  float64
 23  production_companies_name     59703 non-null  object
 24  production_companies_country  25498 non-null  object
dtypes: float64(9), object(16)
memory usage: 11.8+ MB

In [52]:
movie_final["release_date"].fillna(movie_final["startYear"], inplace = True)

C:\Users\User\AppData\Local\Temp\ipykernel_20524\2277707655.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  movie_final["release_date"].fillna(movie_final["startYear"], inplace = True)
C:\Users\User\AppData\Local\Temp\ipykernel_20524\2277707655.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final["release_date"].fillna(movie_final["startYear"], inplace = True)

In [53]:
movie_final.dropna(subset = "release_date", inplace = True)

C:\Users\User\AppData\Local\Temp\ipykernel_20524\2793962541.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final.dropna(subset = "release_date", inplace = True)

In [54]:
movie_final["release_date"] = movie_final["release_date"].apply(lambda x: str(x)[:4])

C:\Users\User\AppData\Local\Temp\ipykernel_20524\1421747041.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final["release_date"] = movie_final["release_date"].apply(lambda x: str(x)[:4])

In [55]:
movie_final["averageRating"].fillna(movie_final["vote_average"], inplace = True)

C:\Users\User\AppData\Local\Temp\ipykernel_20524\1017452822.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  movie_final["averageRating"].fillna(movie_final["vote_average"], inplace = True)
C:\Users\User\AppData\Local\Temp\ipykernel_20524\1017452822.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final["averageRating"].fillna(movie_final["vote_average"], inplace = True)

In [56]:
movie_final["runtimeMinutes"].fillna(movie_final["runtime"], inplace = True)

C:\Users\User\AppData\Local\Temp\ipykernel_20524\2703820425.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  movie_final["runtimeMinutes"].fillna(movie_final["runtime"], inplace = True)
C:\Users\User\AppData\Local\Temp\ipykernel_20524\2703820425.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final["runtimeMinutes"].fillna(movie_final["runtime"], inplace = True)

In [57]:
movie_final.dropna(subset = "runtimeMinutes", inplace = True)

C:\Users\User\AppData\Local\Temp\ipykernel_20524\2756416086.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final.dropna(subset = "runtimeMinutes", inplace = True)

In [87]:
movie_final["runtimeMinutes"] = movie_final["runtimeMinutes"].apply(lambda x: int(x))

C:\Users\User\AppData\Local\Temp\ipykernel_20524\2928078795.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final["runtimeMinutes"] = movie_final["runtimeMinutes"].apply(lambda x: int(x))

In [58]:
movie_final["numVotes"].fillna(movie_final["vote_count"], inplace = True)

C:\Users\User\AppData\Local\Temp\ipykernel_20524\3710999849.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  movie_final["numVotes"].fillna(movie_final["vote_count"], inplace = True)
C:\Users\User\AppData\Local\Temp\ipykernel_20524\3710999849.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final["numVotes"].fillna(movie_final["vote_count"], inplace = True)

In [59]:
movie_final.drop(columns = ["startYear", "runtime", "vote_average", "vote_count"], inplace = True)

C:\Users\User\AppData\Local\Temp\ipykernel_20524\3192185546.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final.drop(columns = ["startYear", "runtime", "vote_average", "vote_count"], inplace = True)

In [60]:
movie_final["genres_x"].fillna(movie_final["genres_y"], inplace = True)

movie_final["genres_x"].isna().value_counts()

C:\Users\User\AppData\Local\Temp\ipykernel_20524\3160293265.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  movie_final["genres_x"].fillna(movie_final["genres_y"], inplace = True)
C:\Users\User\AppData\Local\Temp\ipykernel_20524\3160293265.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final["genres_x"].fillna(movie_final["genres_y"], inplace = True)

genres_x
False    59702
Name: count, dtype: int64

In [61]:
movie_final["genres_x"] = movie_final["genres_x"].apply(lambda x: x.replace("[", "").replace("]", "").replace("'", "").replace(" ", ""))

C:\Users\User\AppData\Local\Temp\ipykernel_20524\3325705486.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final["genres_x"] = movie_final["genres_x"].apply(lambda x: x.replace("[", "").replace("]", "").replace("'", "").replace(" ", ""))

In [62]:
movie_final["genres_x"] = movie_final["genres_x"].apply(lambda x: x.split(","))

C:\Users\User\AppData\Local\Temp\ipykernel_20524\144640554.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final["genres_x"] = movie_final["genres_x"].apply(lambda x: x.split(","))

In [63]:
movie_final["genres_x"].explode("genres_x").unique()

array(['Drama', 'Adventure', 'Fantasy', 'Biography', 'Romance', 'History',
       'Comedy', 'Crime', 'Mystery', 'Horror', 'Western', 'Action',
       'Family', 'War', 'Sci-Fi', 'Thriller', 'Sport', 'Documentary',
       'Music', 'Animation', 'Musical', 'Film-Noir', 'News',
       'ScienceFiction'], dtype=object)

In [64]:
def repl_list(listing, old_word, new_word):
    for ind, ele in enumerate(listing):
        if ele == old_word:
            listing[ind] = new_word
    return listing

In [65]:
movie_final["genres_x"] = movie_final["genres_x"].apply(lambda x: repl_list(x, 'ScienceFiction', 'Sci-Fi'))

C:\Users\User\AppData\Local\Temp\ipykernel_20524\3967341457.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final["genres_x"] = movie_final["genres_x"].apply(lambda x: repl_list(x, 'ScienceFiction', 'Sci-Fi'))

In [66]:
movie_final["genres_x"] = movie_final["genres_x"].apply(lambda x: repl_list(x, 'Musical', 'Music'))

C:\Users\User\AppData\Local\Temp\ipykernel_20524\1613724130.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final["genres_x"] = movie_final["genres_x"].apply(lambda x: repl_list(x, 'Musical', 'Music'))

In [67]:
movie_final["genres_x"].explode().unique()

array(['Drama', 'Adventure', 'Fantasy', 'Biography', 'Romance', 'History',
       'Comedy', 'Crime', 'Mystery', 'Horror', 'Western', 'Action',
       'Family', 'War', 'Sci-Fi', 'Thriller', 'Sport', 'Documentary',
       'Music', 'Animation', 'Film-Noir', 'News'], dtype=object)

We create as much columns as genre to "get_dummie" the variable one by one to consider the multi genre films

In [68]:
genre_list = movie_final["genres_x"].explode().unique()

for genr in genre_list:
    movie_final[genr] = movie_final["genres_x"].apply(lambda x: 1 if genr in (x) else 0)

C:\Users\User\AppData\Local\Temp\ipykernel_20524\437055277.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final[genr] = movie_final["genres_x"].apply(lambda x: 1 if genr in (x) else 0)
C:\Users\User\AppData\Local\Temp\ipykernel_20524\437055277.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final[genr] = movie_final["genres_x"].apply(lambda x: 1 if genr in (x) else 0)
C:\Users\User\AppData\Local\Temp\ipykernel_20524\437055277.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final[genr] = movie_final["genres_x"].apply(lambda x: 1 if genr in (x) else 0)
C:\Users\User\AppData\Local\Temp\ipykernel_20524\437055277.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final[genr] = movie_final["genres_x"].apply(lambda x: 1 if genr in (x) else 0)
C:\Users\User\AppData\Local\Temp\ipykernel_20524\437055277.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final[genr] = movie_final["genres_x"].apply(lambda x: 1 if genr in (x) else 0)
C:\Users\User\AppData\Local\Temp\ipykernel_20524\437055277.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final[genr] = movie_final["genres_x"].apply(lambda x: 1 if genr in (x) else 0)
C:\Users\User\AppData\Local\Temp\ipykernel_20524\437055277.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final[genr] = movie_final["genres_x"].apply(lambda x: 1 if genr in (x) else 0)
C:\Users\User\AppData\Local\Temp\ipykernel_20524\437055277.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final[genr] = movie_final["genres_x"].apply(lambda x: 1 if genr in (x) else 0)
C:\Users\User\AppData\Local\Temp\ipykernel_20524\437055277.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final[genr] = movie_final["genres_x"].apply(lambda x: 1 if genr in (x) else 0)
C:\Users\User\AppData\Local\Temp\ipykernel_20524\437055277.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final[genr] = movie_final["genres_x"].apply(lambda x: 1 if genr in (x) else 0)
C:\Users\User\AppData\Local\Temp\ipykernel_20524\437055277.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final[genr] = movie_final["genres_x"].apply(lambda x: 1 if genr in (x) else 0)
C:\Users\User\AppData\Local\Temp\ipykernel_20524\437055277.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final[genr] = movie_final["genres_x"].apply(lambda x: 1 if genr in (x) else 0)
C:\Users\User\AppData\Local\Temp\ipykernel_20524\437055277.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final[genr] = movie_final["genres_x"].apply(lambda x: 1 if genr in (x) else 0)
C:\Users\User\AppData\Local\Temp\ipykernel_20524\437055277.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final[genr] = movie_final["genres_x"].apply(lambda x: 1 if genr in (x) else 0)
C:\Users\User\AppData\Local\Temp\ipykernel_20524\437055277.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final[genr] = movie_final["genres_x"].apply(lambda x: 1 if genr in (x) else 0)
C:\Users\User\AppData\Local\Temp\ipykernel_20524\437055277.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final[genr] = movie_final["genres_x"].apply(lambda x: 1 if genr in (x) else 0)
C:\Users\User\AppData\Local\Temp\ipykernel_20524\437055277.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final[genr] = movie_final["genres_x"].apply(lambda x: 1 if genr in (x) else 0)
C:\Users\User\AppData\Local\Temp\ipykernel_20524\437055277.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final[genr] = movie_final["genres_x"].apply(lambda x: 1 if genr in (x) else 0)
C:\Users\User\AppData\Local\Temp\ipykernel_20524\437055277.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final[genr] = movie_final["genres_x"].apply(lambda x: 1 if genr in (x) else 0)
C:\Users\User\AppData\Local\Temp\ipykernel_20524\437055277.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final[genr] = movie_final["genres_x"].apply(lambda x: 1 if genr in (x) else 0)
C:\Users\User\AppData\Local\Temp\ipykernel_20524\437055277.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final[genr] = movie_final["genres_x"].apply(lambda x: 1 if genr in (x) else 0)
C:\Users\User\AppData\Local\Temp\ipykernel_20524\437055277.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final[genr] = movie_final["genres_x"].apply(lambda x: 1 if genr in (x) else 0)

In [69]:
movie_final.sample(10)

,tconst,primaryTitle,originalTitle,isAdult,runtimeMinutes,genres_x,title_x,averageRating,numVotes,backdrop_path,genres_y,id,imdb_id,original_language,overview,popularity,poster_path,release_date,title_y,production_companies_name,production_companies_country,Drama,Adventure,Fantasy,Biography,Romance,History,Comedy,Crime,Mystery,Horror,Western,Action,Family,War,Sci-Fi,Thriller,Sport,Documentary,Music,Animation,Film-Noir,News
22331,tt0083320,The Lite Trap,Der Westen leuchtet,0.000,104,"[Romance, Thriller]",Lumière fatale,6.400,68.000,NaN,"['Thriller', 'Romance']",225684.000,tt0083320,de,"Germany, 1981. State Security Service agent Ha...",0.600,NaN,1982,The Lite Trap,"['Visual Filmproduktion', 'ZDF']",NaN,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
62121,tt1852137,The Paranormal Diaries: Clophill,The Paranormal Diaries: Clophill,0.000,92,[Horror],The Paranormal Diaries: Clophill,3.500,679.000,NaN,['Horror'],207770.000,tt1852137,en,"In March 1963, a black mass was held at a ruin...",2.931,/pHHVRgy47P8RONXUnMa3C9IBbzf.jpg,2013,The Paranormal Diaries: Clophill,"['Bleeding Edge', 'Off World Films']",NaN,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
9693,tt0045537,The Band Wagon,The Band Wagon,0.000,112,"[Comedy, Music, Romance]",Tous en scène !,7.400,12552.000,/bPDR1GR4Bh8EdKQKKfudQpL14kD.jpg,"['Comedy', 'Music', 'Romance']",29376.000,tt0045537,en,A Broadway artiste turns a faded film star's c...,9.361,/5CvUmTWK46rShfgLmw7LuKF2fYL.jpg,1953,The Band Wagon,['Metro-Goldwyn-Mayer'],NaN,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
43892,tt0377084,Ladies in Lavender,Ladies in Lavender,0.000,104,"[Drama, Music, Romance]",Les dames de Cornouailles,7.000,12657.000,/2bn4wiUzanbEHuKC5O0Yq7WzJOG.jpg,"['Drama', 'Romance']",9528.000,tt0377084,en,"Andrea, a gifted young Polish violinist from K...",10.095,/wm3wG0qf1qhUj0xtgI0BarQpmbT.jpg,2004,Ladies in Lavender,"['UK Film Council', 'Baker Street', 'Future Fi...","['GB', '', '', '', '', 'GB']",1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
26923,tt0101570,Cherokee,Cherokee,0.000,85,[Comedy],Cherokee,5.500,15.000,NaN,[],570373.000,tt0101570,fr,"In this detective and crime comedy, the heir t...",0.600,/65yDQ9xlJ2mRLVYynU6dX5Ai6F1.jpg,1991,Cherokee,[],[],0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
22493,tt0084036,Ironmaster,La guerra del ferro: Ironmaster,0.000,98,"[Action, Adventure]","Ironmaster, la guerre du fer",4.600,1056.000,/cq6nBfvJzw4PhHakyio1m6ibpUm.jpg,"['Adventure', 'Action']",28678.000,tt0084036,it,A tale that takes place at the dawn of history...,2.772,/gLXCZW14Oj6y1jh9qtG39YQumuK.jpg,1983,Ironmaster,"['Les Films Jacques Leitienne', 'Nuova Dania C...",NaN,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
5161,tt0028939,The Go Getter,The Go-Getter,0.000,92,"[Comedy, Romance]",Le rescapé,6.400,246.000,/1rZwk7AAsEf1Yuf437pIFszxE4W.jpg,"['Comedy', 'Romance']",235558.000,tt0028939,en,A Navy veteran with one leg fights to make him...,1.246,/1Y18rvBLFI8toaEXXqY9sC6XMa1.jpg,1937,The Go-Getter,['Warner Bros. Pictures'],NaN,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
31954,tt0136233,Favorite of Schonbrunn,Der Günstling von Schönbrunn,0.000,100,[Comedy],La bague impériale,0.000,0.000,NaN,"['Romance', 'Comedy', 'Music']",1072406.000,tt0136233,en,'Romantic story of a gallant adventurer at the...,0.600,/lGo8rdAZcjkTCe2m3n010UHYSBL.jpg,1930,The Second Kiss,"['Gainsborough Pictures', 'Greenbaum-Film']","['GB', '']",0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
25521,tt0095654,Moon Over Parador,Moon Over Parador,0.000,103,"[Comedy, Romance]",Pleine lune sur Parador,6.000,6733.000,/zzA9obNm9f6Ol0uGChN9Y8UwOWS.jpg,"['Comedy', 'Romance']",34014.000,tt0095654,en,"Little known actor, Jack Noah, is working on l...",5.394,/1HtHX9Y9PdjmgpHQliQPeOyZknr.jpg,1988,Moon Over Parador,['Universal Pictures'],NaN,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
30364,tt0119123,Fire Down Below,Fire Down Below,0.000,105,"[Action, Drama, Thriller]",Menace toxique,5.100,19049.000,/llOhjFfc0rfHpKDIB0AuOVrjJ6.jpg,"['Action', 'Thriller']",14289.000,tt0119123,en,When an EPA representative is murdered in a sm...,13.664,/nflONy2WMEui7uCGCAtkD1r9vnl.jpg,1997,Fire Down Below,"['Seagal/Nasso Productions', 'Warner Bros. Pic...","['', 'US']",1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0

In [70]:
movie_final[['originalTitle', 'primaryTitle', 'title_y', 'title_x']].sample(25)

,originalTitle,primaryTitle,title_y,title_x
3660,Hell Bound,Hell Bound,Hell Bound,Le damné
44916,Jacquou le croquant,Jacquou le croquant,Jacquou the Rebel,Jacquou le croquant
65269,Araf,Araf/Somewhere in Between,Araf/Somewhere in Between,Araf/Quelque part entre deux
42150,Warriors of Virtue: The Return to Tao,Warriors of Virtue: The Return to Tao,Warriors of Virtue: The Return to Tao,Magic warriors 2 - Retour à Tao
8964,Comin' Round the Mountain,Comin' Round the Mountain,Comin' Round the Mountain,Deux nigauds chez les barbus
32281,9 garçons..... ....un coeur!,"Nine Boys, One Heart","Nine Boys, One Heart","Neuf garçons, un coeur"
72931,Anna,Anna,Anna,Anna
18478,Tutti i colori del buio,They're Coming to Get You!,All the Colors of the Dark,Toutes les couleurs du vice
45303,P.S. I Love You,P.S. I Love You,P.S. I Love You,P.S. I Love You
63503,Christmas on Repeat,Christmas on Repeat,Christmas on Repeat,Un Noël sans fin
44936,Chi to hone,Blood and Bones,Blood and Bones,Blood and Bones
65689,Too Much Love Will Kill You,Too Much Love Will Kill You,Too Much Love Will Kill You,Too Much Love Will Kill You
26013,Lady Avenger,Lady Avenger,Lady Avenger,Sœur Vengeance
7276,The Purple Monster Strikes,The Purple Monster Strikes,The Purple Monster Strikes,Le Monstre écarlate
65839,Khéops révélée,Khéops révélée,Khufu Revealed,Khéops révélée
43498,Chavez: Inside the Coup,The Revolution Will Not Be Televised,The Revolution Will Not Be Televised,Coup d'État contre Chavez
5804,Istrebiteli,Istrebiteli,Fighters,Les combattants
38599,Perhitungan terakhir,Perhitungan terakhir,Fire of Vengeance,Le feu de la vengeance
4897,Komedie om geld,The Trouble with Money,The Trouble with Money,Comédie de l'argent
79878,The Art of Self-Defense,The Art of Self-Defense,The Art of Self-Defense,L'art de l'autodéfense
1271,The Highest Bidder,The Highest Bidder,The Highest Bidder,Le Piège
54738,Resurrection County,Resurrection County,Resurrection County,Resurrection County
18209,Hickey & Boggs,Hickey & Boggs,Hickey & Boggs,Requiem pour des gangsters
28397,Wong Fei Hung III: Si wong jaang ba,Once Upon a Time in China III,Once Upon a Time in China III,Il était une fois en Chine: Le tournoi du lion
32438,Histoires d'hiver,Histoires d'hiver,Winter Stories,Histoires d'hiver

In [71]:
movie_final.drop(columns = ["primaryTitle", "title_y", "genres_y"], inplace = True)

C:\Users\User\AppData\Local\Temp\ipykernel_20524\2835320396.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final.drop(columns = ["primaryTitle", "title_y", "genres_y"], inplace = True)

In [96]:
movie_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59702 entries, 0 to 82770
Data columns (total 40 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   tconst                        59702 non-null  object
 1   originalTitle                 59702 non-null  object
 2   isAdult                       59702 non-null  float64
 3   runtimeMinutes                59702 non-null  int64
 4   genres_x                      59702 non-null  object
 5   title_x                       59702 non-null  object
 6   averageRating                 59702 non-null  float64
 7   numVotes                      59702 non-null  float64
 8   backdrop_path                 47769 non-null  object
 9   id                            59702 non-null  float64
 10  imdb_id                       59702 non-null  object
 11  original_language             59702 non-null  object
 12  overview                      57926 non-null  object
 13  popularity                    59702 non-null  float64
 14  poster_path                   58130 non-null  object
 15  release_date                  59702 non-null  object
 16  production_companies_name     59702 non-null  object
 17  production_companies_country  25498 non-null  object
 18  Drama                         59702 non-null  int64
 19  Adventure                     59702 non-null  int64
 20  Fantasy                       59702 non-null  int64
 21  Biography                     59702 non-null  int64
 22  Romance                       59702 non-null  int64
 23  History                       59702 non-null  int64
 24  Comedy                        59702 non-null  int64
 25  Crime                         59702 non-null  int64
 26  Mystery                       59702 non-null  int64
 27  Horror                        59702 non-null  int64
 28  Western                       59702 non-null  int64
 29  Action                        59702 non-null  int64
 30  Family                        59702 non-null  int64
 31  War                           59702 non-null  int64
 32  Sci-Fi                        59702 non-null  int64
 33  Thriller                      59702 non-null  int64
 34  Sport                         59702 non-null  int64
 35  Documentary                   59702 non-null  int64
 36  Music                         59702 non-null  int64
 37  Animation                     59702 non-null  int64
 38  Film-Noir                     59702 non-null  int64
 39  News                          59702 non-null  int64
dtypes: float64(5), int64(23), object(12)
memory usage: 20.7+ MB

In [99]:
# On remet en format string normal
movie_final["production_companies_name"] = movie_final["production_companies_name"].apply(lambda x: x.replace("[", "").replace("]", "").replace("'", ""))
movie_final["production_companies_country"] = movie_final["production_companies_country"].apply(lambda x: str(x).replace("[", "").replace("]", "").replace("'", ""))

C:\Users\User\AppData\Local\Temp\ipykernel_20524\828292013.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final["production_companies_name"] = movie_final["production_companies_name"].apply(lambda x: x.replace("[", "").replace("]", "").replace("'", ""))
C:\Users\User\AppData\Local\Temp\ipykernel_20524\828292013.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final["production_companies_country"] = movie_final["production_companies_country"].apply(lambda x: str(x).replace("[", "").replace("]", "").replace("'", ""))

In [102]:
# On split pour obtenir de vraies listes
movie_final["production_companies_name"] = movie_final["production_companies_name"].apply(lambda x: x.split(","))
movie_final["production_companies_country"] = movie_final["production_companies_country"].apply(lambda x: x.split(","))

C:\Users\User\AppData\Local\Temp\ipykernel_20524\1414012850.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final["production_companies_name"] = movie_final["production_companies_name"].apply(lambda x: x.split(","))
C:\Users\User\AppData\Local\Temp\ipykernel_20524\1414012850.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_final["production_companies_country"] = movie_final["production_companies_country"].apply(lambda x: x.split(","))

In [100]:
movie_final[["production_companies_name", "production_companies_country"]].value_counts()

production_companies_name                                                production_companies_country
                                                                         nan                             4709
                                                                                                         3312
Metro-Goldwyn-Mayer                                                      nan                              741
Paramount                                                                nan                              504
20th Century Fox                                                         nan                              503
                                                                                                         ...
Fortuna Film Co., Sky Point Film Investment Co., Ltd.                    nan                                1
Fortress Features, MTY Productions                                       ,                                  1
Fortress Features, LD Entertainment                                      nan                                1
Fortitude International, Voltage Pictures                                US, US                             1
프로덕션M, Michigan Venture Capital, Korea Pictures, Wellmade Entertainment  nan                                1
Name: count, Length: 38030, dtype: int64

In [112]:
df_comp = movie_final[["production_companies_name", "production_companies_country"]].explode(["production_companies_name"])
df_comp

                     production_companies_name production_companies_country
0                                 Pathé Frères                         [FR]
10                                Pathé Frères                        [nan]
15                                Milano Films                        [nan]
16                               Kalem Company                        [nan]
20                 Projektions-AG Union (PAGU)                        [nan]
...                                        ...                          ...
82161                                                                    []
82167  ifs internationale filmschule köln gmbh                    [DE,  DE]
82167             Film- und Medienstiftung NRW                    [DE,  DE]
82369                                      DHR                           []
82770                           Mosaïque Films                         [FR]

[130115 rows x 2 columns]

In [127]:
type(df_comp["production_companies_country"][0])

list

In [140]:
comp_info = {}
last_index = -1
index_count = 0

for index, line in df_comp.iterrows():
    if index == last_index:
        index_count += 1
    else:
        index_count = 0
       
    try:
        if (line[1][index_count] != ["nan"]) and (line[1][index_count] != [""]):
            comp_info[line[0]] = line[1][index_count]
    except:
        if (line[1] != ["nan"]) and (line[1] != [""]):
            comp_info[line[0]] = line[1]        

    last_index = index
        
comp_info

C:\Users\User\AppData\Local\Temp\ipykernel_20524\4062280079.py:12: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if (line[1][index_count] != ["nan"]) and (line[1][index_count] != [""]):
C:\Users\User\AppData\Local\Temp\ipykernel_20524\4062280079.py:13: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  comp_info[line[0]] = line[1][index_count]
C:\Users\User\AppData\Local\Temp\ipykernel_20524\4062280079.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if (line[1] != ["nan"]) and (line[1] != [""]):
C:\Users\User\AppData\Local\Temp\ipykernel_20524\4062280079.py:16: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  comp_info[line[0]] = line[1]

{'Pathé Frères': 'FR',
 'Milano Films': 'nan',
 'Kalem Company': 'nan',
 'Projektions-AG Union (PAGU)': 'nan',
 'Società Italiana Cines': 'nan',
 'Sterling Camera and Film Company': 'nan',
 '': '',
 'Nordisk Film Denmark': 'DK',
 'Société Française des Films Éclair': '',
 'Deutsche Bioscope': 'DE',
 'Società Anonima Ambrosio': 'nan',
 'New York Motion Picture': 'nan',
 'Italia Film': 'nan',
 'Famous Players Film Company': 'US',
 'Gaumont': 'FR',
 'Wharton': 'nan',
 'Seattle Film Co.': 'nan',
 'American Mutoscope & Biograph': 'nan',
 'The General and Eclectic Film Company': 'nan',
 'Keystone Film Company': 'nan',
 'ProJa Filmgyár': 'nan',
 'Société Générale des Cinématographes Éclipse': '',
 'Shubert Film Corporation': 'nan',
 'Peerless Productions': '',
 'Nonpareil Feature Film Corp.': 'nan',
 'Premo Film Company': '',
 'Epoch Film Co.': '',
 'Jesse L. Lasky Feature Play Company': '',
 'World Film': 'US',
 'Fox Film Corporation': 'nan',
 'Fine Arts Film Company': 'nan',
 'Svenska Biografteatern': 'SE',
 'Balboa Amusement Producing Company': '',
 'The Universal Film Mfg. Co.': 'nan',
 'Kay-Bee Pictures': 'US',
 'Thomas H. Ince Corporation': '',
 'Pallas Pictures': 'US',
 ' New York Motion Picture': ' US',
 'Bluebird Photoplays': 'US',
 'Triangle Film Corporation': 'US',
 ' Wark Producing Corp.': ' ',
 'Mary Pickford Company': 'nan',
 'Itala-Film': 'nan',
 'Yermoliev': 'nan',
 'The Essanay Film Manufacturing Company': 'nan',
 'Standard Pictures Corp.': '',
 'Itala Film': 'nan',
 ' Paramount': ' US',
 'Films Cinematographiques': 'nan',
 'Paramount': 'US',
 'Universal Film Manufacturing Company': 'US',
 ' Fox Film Corporation': ' US',
 'Iliodor Pictures Corp.': '',
 'Douglas Fairbanks Pictures': 'nan',
 'Astra Film': 'US',
 'May-Film': 'nan',
 'Cinédis': 'nan',
 'Vitagraph Company of America': 'US',
 'Norma Talmadge Film Corporation': 'nan',
 'Artcraft Pictures Corporation': 'nan',
 'Thomas H. Ince Productions': '',
 ' Lois Weber Productions': ' ',
 'Ardsley-Pathé': '',
 'Famous Players-Lasky Corporation': 'US',
 'Robert Warwick Film': 'nan',
 'Paragon Films': 'US',
 'Corvin Film': 'nan',
 'American Film Company': '',
 '"Le Film dArt"': 'FR',
 'Nazimova Productions': 'nan',
 'Hasselbladfilm': 'nan',
 'The American Film Company': '',
 'Pathé Exchange': 'nan',
 'War Office Committee': 'nan',
 'William Russell Productions Inc.': '',
 'Diva Pictures': 'nan',
 'Metro Pictures Corporation': 'US',
 'F-4 Picture Corp.': '',
 ' Famous Players-Lasky Corporation': ' US',
 'Perret Productions Inc.': '',
 'Rita Jolivet Film Corporation': '',
 'Paralta Plays Inc.': '',
 'Maxwell Productions (I)': 'nan',
 'Mabel Normand Feature Film Company': 'nan',
 'Filmindustri AB Skandia': 'nan',
 ' Jesse L. Lasky Feature Play Company': ' ',
 'D.W. Griffith Productions': 'nan',
 'Haut Commissariat à la Propagande': 'nan',
 ' Hallmark Pictures Corporation': ' ',
 'National Film Corporation of America': 'nan',
 'Haworth Pictures Corporation': '',
 ' Bluebird Photoplays': ' US',
 'Grace Davison Productions': '',
 'Western Photoplays Inc': '',
 'Richard Oswald Produktion': 'DE',
 'Shipman-Curwood Company': 'nan',
 'William S. Hart Productions': 'nan',
 ' United Artists': ' US',
 'International Film Service': 'nan',
 'Universal Pictures': 'US',
 'Great Western Producing Company': 'nan',
 'Harry Garson Productions': '',
 'Narkompros': 'SU',
 'First National Pictures': 'nan',
 'Decla-Bioscop': 'nan',
 'Anita Stewart Productions': '',
 ' Louis B. Mayer Productions': ' ',
 'United Artists': 'nan',
 'Decla Film Gesellschaft Holz & Co.': 'nan',
 'Maurice Tourneur Productions': 'nan',
 'Bild- und Filmamt': 'nan',
 'Rolfe Photoplays': 'nan',
 'Brentwood Film Corporation': 'nan',
 'Invicta Film': '',
 'Screen Classics Inc.': '',
 'Allan Dwan Productions': '',
 ' Mayflower Photoplay Company': ' ',
 ' Blanche Sweet Productions': ' ',
 'Selznick Pictures Corporation': '',
 'Thalman et Cie': 'nan',
 'Helios Film': 'DE',
 'Eminent Authors Pictures Inc': 'nan',
 'Robert Brunton Productions': 'nan',
 'Marshall Neilan Productions': '',
 'Mack Sennett Comedies': 'nan',
 'Goldwyn Pictures Corporation': '',
 'SF Studios': 'SE',
 'King W. Vidor Productions': 'nan',
 'Goron Film': 'nan',
 'Projektions A-G Union (PAGU)': 'nan',
 'Gaumont Série Pax': 'nan',
 'Cosmopolitan Productions': 'nan',
 'Constance Talmadge Film Company': 'US',
 'Lipow-Film': '',
 'Realart Pictures Corporation': 'US',
 'Messter Film': 'nan',
 'Norrøna Film': 'nan',
 'Münchner Lichtspielkunst AG (Emelka)': 'nan',
 'Albert Capellani Productions': '',
 'Ruth Roland Serials': '',
 'J. Parker Read Jr. Productions': '',
 'Berliner Film-Manufaktur GmbH': 'nan',
 'Ilag-Film': 'nan',
 'American Cinema Corporation': 'nan',
 'Micheaux Book & Film Company': 'nan',
 'Great Western Productions': 'nan',
 'Max Linder Productions': 'nan',
 'Hayakawa Feature Play Company': '',
 'Paramount British Pictures': '',
 'Distinctive Productions': '',
 'Art-Film GmbH': 'nan',
 'Henny Porten Filmproduktion': 'nan',
 'Ermolieff Films': 'nan',
 'Charles Chaplin Productions': 'nan',
 'Sascha-Film': 'nan',
 'Allen Holubar Pictures': '',
 'Mack Sennett-Mabel Normand Productions': 'nan',
 'Irving M. Lesser': 'nan',
 'Hal Roach Studios': 'nan',
 'Rex-Film GmbH': 'nan',
 'Uco-Film GmbH': 'nan',
 ' Decla-Bioscop': ' DE',
 'Hobart Bosworth Productions': 'nan',
 'H.O. Davis': 'nan',
 'Inspiration Pictures': 'nan',
 'Lois Weber Productions': 'nan',
 'Sveafilm': 'nan',
 'Warner Bros. Pictures': 'US',
 'Deulig Film': 'nan',
 'Tiffany Productions': 'nan',
 'Films A. Legrand': 'nan',
 'Sophus Madsen Film': 'nan',
 'Samuel Zierler Photoplay Corporation': '',
 'Irving Cummings Productions': 'nan',
 'Primus Film': 'nan',
 'J. Stuart Blackton Feature Pictures': '',
 'Aljosha Production Company': 'nan',
 'Berg- und Sportfilm': 'nan',
 'Houdini Picture Corporation': 'nan',
 'Guazzoni film': 'nan',
 'Les Frères Revillon': '',
 'Prana-Film GmbH': '',
 ' Jofa-Atelier Berlin-Johannisthal': ' ',
 'Svensk Filminspelning': 'nan',
 'Irvin V. Willat Productions': '',
 'Wörner-Filmgesellschaft': 'nan',
 'Sawyer-Lubin Pictures Corporation': '',
 'Pan Film': 'nan',
 'Technicolor Motion Picture Corporation': 'nan',
 'Jackie Coogan Productions': '',
 'Pathé Consortium Cinéma': 'nan',
 'Europäische Film-Allianz': 'nan',
 'Nikkatsu Corporation': 'nan',
 'Emil Jannings-Film': 'nan',
 'B.P. Schulberg Productions': 'nan',
 'Memnon Films': 'nan',
 'Phil Goldstone Productions': '',
 'Samuel Goldwyn Productions': 'US',
 'Louis B. Mayer Productions': '',
 'Douglas MacLean Productions': '',
 'Neumann-Filmproduktion': 'nan',
 ' Phoebus-Film': ' DE',
 'Welsh-Pearson': 'nan',
 'Suomi-Filmi': 'nan',
 'Joseph M. Schenck Productions': 'nan',
 'Leonardo-Film': 'nan',
 'Films Abel Gance': 'nan',
 'Carl Froelich-Film GmbH': 'nan',
 'Stern Film': 'nan',
 'Stern-Film': 'nan',
 'Victor Halperin Productions': 'US',
 'Buster Keaton Productions': 'nan',
 'Hoot Gibson Productions': '',
 'Neptune-Film A.G.': 'nan',
 'Межрабпом-Русь': 'nan',
 'Metro-Goldwyn Pictures Corporation': 'nan',
 'Gotham Productions': 'nan',
 'Sol Lesser Productions': 'nan',
 'Universum Film': 'DE',
 ' Warner Bros. Pictures': ' US',
 'Les Films Jean Renoir': 'nan',
 'UFA': 'nan',
 'Hunt Stromberg Productions': 'nan',
 'Atlántida Films': 'nan',
 'The Harold Lloyd Corporation': 'nan',
 'B.F. Zeidman Productions Ltd.': 'nan',
 'Metro-Goldwyn-Mayer': 'US',
 ' Metro-Goldwyn Pictures Corporation': ' US',
 'Cinégraphic': 'nan',
 'Malcolm Strauss Pictures': '',
 ' Pathé Exchange': ' US',
 'Albatros': 'nan',
 'Kultkino': 'nan',
 'Carlos Productions': '',
 ' Truart Film Co.': ' ',
 'Société des Films Historiques': 'nan',
 'Fennica-Filmi': 'nan',
 'Goskino USSR': 'nan',
 'Pan-Film KG Wien': '',
 'Mezhrabpom-Rus': 'nan',
 'Films Diamant': '',
 'Gainsborough Pictures': 'nan',
 'John McCormick Productions': 'nan',
 'Unione Cinematografica Italiana': 'nan',
 'Columbia Pictures': 'US',
 'Frank Lloyd Productions': 'nan',
 'C.C. Burr Productions Inc.': 'nan',
 'Proletkult': 'nan',
 'Walls and Henson Films': '',
 'Napoleon Films': '',
 'Vita-Film': 'nan',
 'Comenius-Film GmbH': '',
 'Micheaux Film': 'nan',
 'Cinema Corporation of America': '',
 'Robertson-Cole Pictures Corporation': 'US',
 'Mosfilm': 'nan',
 ' Goskino USSR': ' SU',
 'Sam E. Rork Productions': '',
 'Ritz-Carlton Pictures': 'nan',
 ' George Fitzmaurice Productions': ' ',
 'Elton Productions': 'nan',
 'Palladium': 'nan',
 'Art Finance Corporation': 'nan',
 'Films René Fernand': 'nan',
 'Sofar-Film': '',
 'Victoria Film': 'nan',
 'Merian C. Cooper and Ernest Schoedsack': 'nan',
 'Nord-Westi Film AB': 'nan',
 'Gosfilmfond Russia': 'nan',
 'AB Historisk Film': '',
 'J. G. Blystone Productions': '',
 'An Erich von Stroheim Production': 'nan',
 'Société des Cinéromans': 'nan',
 ' Cosmopolitan Productions': ' US',
 'Münchner Lichtspielkunst': 'nan',
 'Majestic Films': 'nan',
 'DeMille Pictures Corporation': 'nan',
 'Academy Photoplays': 'nan',
 'Gaumont-British Picture Corporation': 'GB',
 'H. K. Breslauer-Film': 'nan',
 'Värmlandsfilm': '',
 'Mundus-Film': 'nan',
 'Georges Loureau': 'nan',
 'Chadwick Pictures Corporation': '',
 'Roland West Productions': 'nan',
 'Richard Talmadge Productions': 'nan',
 'Sovkino': 'SU',
 'Shin Kankaku-ha Eiga Renmei Productions': 'nan',
 'Carlyle Blackwell Productions': 'GB',
 ' Gainsborough Pictures': ' GB',
 'Societa Anonima Stefano Pittaluga': '',
 'Deutsche Vereinsfilm AG': 'DE',
 'Films de France': 'nan',
 'Robert Flaherty Productions Inc.': 'nan',
 'Georgianfilm': 'nan',
 'Christie Film Company': 'nan',
 'Metropolitan Pictures Corporation of California': 'nan',
 'Charles R. Rogers Productions': 'nan',
 'Leningradkino': 'nan',
 'Feature Productions': 'nan',
 'Harry Langdon Corporation': 'nan',
 'Al Rockett Productions': '',
 'Corinne Griffith Productions': 'US',
 'Billy West Productions': '',
 'Ama-Film': 'DE',
 ' Metro-Goldwyn-Mayer': ' US',
 ' Fox Europa Produktion': ' ',
 'Robert Kane Productions': 'nan',
 'Ciné-Alliance': 'nan',
 'Paramount Famous Lasky Corporation': 'nan',
 'Mezhrabpomfilm': 'nan',
 'Pantomim-Film AG': 'nan',
 ' Buster Keaton Productions': ' ',
 'F.P.S.-Film GmbH': 'nan',
 'Les Films Jean Epstein': 'nan',
 'Vostokfilm': 'nan',
 'Phoebus-Film': 'DE',
 'Gloria Swanson Pictures': 'nan',
 'Société Westi': 'nan',
 'Production Francaise Cinematographique': 'nan',
 'Museum of the Revolution': 'nan',
 'British International Pictures': 'GB',
 'BIF': 'GB',
 'The Caddo Company': '',
 'Terra-Filmkunst': 'nan',
 'Minxin Film Company': 'nan',
 'Erda-Film': '',
 'Norsk Super Film AS': 'nan',
 'Nero-Film AG': 'nan',
 'Isepa-Wengeroff Film': 'nan',
 'Films Jean Epstein': 'nan',
 'Film Booking Offices of America (FBO)': 'nan',
 'Vereinigte Star-Film GmbH': 'nan',
 'Deutsche Film-Union AG (Defu) (Berlin)': 'nan',
 'Kinugasa Eiga Renmei': 'nan',
 'Cinéfilm AG': '',
 ' Hom-AG für Filmfabrikation': ' DE',
 'Lupu Pick Film': 'nan',
 'La Société des Films Charles Dullin': 'nan',
 'Shochiku': 'JP',
 'VUFKU (All-Ukrainian Photo-Cinema Administration)': 'nan',
 'Société générale des films': 'nan',
 'The Vitaphone Corporation': 'nan',
 'Néo-Film': 'nan',
 'Tiffany-Stahl Productions': '',
 'British Instructional Films Ltd.': '',
 ' BIF': ' GB',
 'Belgoskino': 'nan',
 'Lutèce Films': '',
 ' Société générale des films': ' FR',
 'British & Dominions Film Corporation': 'GB',
 ' Herbert Wilcox Productions': ' ',
 'Werner Hochbaum Filmproduktion': 'nan',
 'Howard Productions': 'nan',
 'Films Petit': '',
 ' "Le Film dArt"': ' FR',
 'Geem-Film': 'nan',
 'Edwin Carewe Productions': 'nan',
 ' Fritz Lang-Film': ' ',
 'C.B. DeMille Productions': 'nan',
 'James Cruze Productions': '',
 'Richard Eichberg-Film GmbH': 'nan',
 ' British International Pictures': ' GB',
 'Super-Film GmbH': 'nan',
 'RKO Radio Pictures': 'US',
 'Prometheus-Film-Verleih': 'nan',
 'Art Cinema Corporation': '',
 '"Le Film dArt (Vandal et Delac)"': 'nan',
 'Filmstudio 1929': '',
 ' Filmstudio Berlin': ' ',
 'Rapid Film': 'DE',
 'Les Films Louis Nalpas': 'nan',
 'Sequana Films': 'nan',
 'Gaumont-Franco Film-Aubert (G.F.F.A)': '',
 'Max Glass Film': 'nan',
 'Burden-Chanler Productions': 'nan',
 'Hom-AG für Filmfabrikation': 'nan',
 'Deutsche Universal-Film': 'nan',
 'Gloria Productions': 'nan',
 'Compagnie Universelle Cinématographique (CUC)': 'nan',
 'Les Films Marcel Vandal et Charles Delac': 'nan',
 'Sokal-Film GmbH': 'nan',
 'Marcel Hellmann Film': 'nan',
 'Ondra-Lamac-Film': 'nan',
 ' Joseph M. Schenck Productions': ' ',
 'Les Films Osso': 'FR',
 'Hegewald Film': 'DE',
 'Pathé-Natan': 'nan',
 'Wladyslaw Starewicz Production': 'nan',
 'Vicomte de Noailles': 'FR',
 'Ukrainfilm': 'nan',
 'Nero Films': 'nan',
 'Ken Maynard Productions Inc.': 'nan',
 'Société des films sonores Tobis': 'nan',
 'Soyuzkino': 'nan',
 'Les Établissements Braunberger-Richebé': 'nan',
 'Allianz Tonfilm GmbH': 'nan',
 'Ralph M. Like Productions': 'nan',
 'Fifra': 'nan',
 'Liberty Pictures': 'nan',
 '"LÉcran dArt"': '',
 'Trem Carr Pictures': '',
 'Roto Film': '',
 'Mascot Pictures': 'nan',
 'Tobis Filmkunst': 'nan',
 'Perla Film': '',
 'Cinédia': 'BR',
 'Les Films Paramount': 'nan',
 'Julius Hagen Productions': 'nan',
 'Deutsche Film-Gemeinschaft': '',
 'Resco-Filmproduktion': 'nan',
 'Deutsche Lichtspiel-Syndikat (DLS)': 'nan',
 ' The Vitaphone Corporation': ' US',
 'Erka-Prodisco': 'nan',
 'Murnau-Flaherty Productions': '',
 'Willis Kent Productions': 'nan',
 'Deutsches Lichtspiel-Syndikat': 'nan',
 'Pathé Distribution': 'FR',
 'Super-Film': '',
 ' Gaumont-British Picture Corporation': ' GB',
 ' Armor Films': ' FR',
 'Leni Riefenstahl-Produktion': 'nan',
 'Les Établissements Jacques Haïk': '',
 'The Mexican Picture Trust': '',
 'Les Films Marcel Vandel et Charles Delac': 'nan',
 'Aafa-Film': 'nan',
 'Elektafilm': 'nan',
 'Les Films Marcel Pagnol': 'nan',
 'SN Pathé-Cinéma': '',
 'Leon Schlesinger Productions': 'nan',
 'Capitol Film Exchange': 'nan',
 'Lianhua Film Company': '',
 'Praesens-Film AG': 'CH',
 ' Prometheus-Film-Verleih': ' DE',
 'Sono Art-World Wide Pictures': 'nan',
 'Monogram Pictures': 'US',
 'Leo-Film': 'PL',
 ' Falanga': ' ',
 'Action Pictures': 'nan',
 'EuropaCorp': 'FR',
 'Larry Darmour Productions': 'nan',
 'Chesterfield Motion Pictures Corporation': 'nan',
 'Gottschalk Tonfilm': '',
 'Reichsliga-Film': 'nan',
 'Victor & Edward Halperin Productions': 'nan',
 '20th Century Pictures': 'nan',
 'Tonal-Film': 'nan',
 'Van Beuren Studios': 'nan',
 'Tobis Portuguesa': 'nan',
 'Victor-Klein Film GmbH': 'nan',
 'Lewis Milestone Productions': 'nan',
 'Fenno-Filmi': 'nan',
 'Edward Small Productions': 'nan',
 'Les Auteurs Associés': 'nan',
 'Efzet-Film': 'nan',
 'Cine-Allianz Tonfilm GmbH': 'nan',
 'Elite-Tonfilm-Produktion GmbH': 'nan',
 'Hall Mark Productions': 'nan',
 'Märkische Film GmbH': 'nan',
 'Gloria Swanson British Productions': 'nan',
 'London Films Productions': 'nan',
 'Paul Malvern Productions': 'nan',
 'Lone Star': 'US',
 'Allied Pictures Corporation': '',
 ' M.H. Hoffman Inc.': ' ',
 'Serge Otzoup-Filmproduktion der Tobis-Sascha': 'nan',
 'W.T. Lackey Productions': 'nan',
 'Irie Production': 'nan',
 'Twickenham Film Studios': 'GB',
 'Mascot Picture Corp.': 'nan',
 'Franfilmdis': 'nan',
 'Jean-Louis Nounez': 'nan',
 'Hecht-MacArthur Productions': 'nan',
 'Atherton Productions': 'nan',
 'Azed Films': '',
 'Richard Wainwright Productions': 'nan',
 'Invincible Pictures Corp.': 'nan',
 'Windsor (II)': 'nan',
 'Ichtys Film': 'nan',
 'Gosudarstvennoe Upravlenie Kinematografii i fotografii (GUKF)': 'nan',
 'Ariel Film': 'nan',
 'Or Films': 'nan',
 'Société Parisienne de Production': 'nan',
 'Les Productions Fox Europa': 'nan',
 'Société Nouvelle de Cinématographie (SNC)': 'nan',
 'Compagnie Nouvelle Commerciale': 'nan',
 'all star productions': 'nan',
 'Fanal-Filmproduktion': 'nan',
 'Caesar Film': '',
 'Viking Productions': 'nan',
 'Hunnia Filmstúdió': 'nan',
 'Elektra Filmfabriken': 'nan',
 'Société Agatos': 'nan',
 'Novella Film': 'nan',
 ' Liano Films': ' ',
 'Moscow kinokombinat': 'nan',
 'Select Pictures Corporation': 'nan',
 'Productions Arys': 'nan',
 'Alliance-Capital Productions': 'nan',
 'Flag Films': '',
 'Pioneer Pictures Corporation': 'nan',
 'Produzioni Atlas Consorziate': 'nan',
 'Cipar Films': '',
 '20th Century Fox': 'US',
 'Eden Productions': '',
 'Filmófono': 'ES',
 'Herbert Wilcox Productions': 'nan',
 'Loet C. Barnstijn Film': '',
 'Reliable Pictures Corporation': 'nan',
 'Emanuel Cohen Productions': 'nan',
 'Daiichi Eiga': 'nan',
 'Carl Froelich-Film GmbH (I)': 'nan',
 'P.C.L. Eiga Seisaku-jo': 'nan',
 'Universal-Film': 'nan',
 'Holfi': 'nan',
 'Associated Talking Pictures (ATP)': 'nan',
 'Associated British Picture Corporation': 'nan',
 'Deka Film': 'nan',
 'Roadshow Attractions': 'nan',
 'Fribergs Filmbyrå AB': 'nan',
 'Burroughs-Tarzan Enterprises Inc.': '',
 'Burroughs-Tarzan Pictures Inc.': 'nan',
 'Joe Rock Productions': 'nan',
 ' Leslie Fuller Productions': ' ',
 'Lenfilm': 'nan',
 'Walter Wanger Productions': 'nan',
 ' 20th Century Fox': ' US',
 'Republic Pictures': 'US',
 'Cine-Allianz Tonfilmproduktions GmbH': 'nan',
 'Exito Productions': 'nan',
 'Boston-Film': '',
 'Criterion Film Productions Ltd.': '',
 'Garrett-Klement Pictures': 'nan',
 'Auréa-Films': 'nan',
 'Les Films Marquise': 'nan',
 'Société des Films Osso': 'nan',
 'Ciné-Arys': 'nan',
 'Industrie Cinematografiche Italiane (ICI)': 'IT',
 'Les Films Jacques Deval': 'nan',
 'Mayfair Pictures Corporation': 'nan',
 'Films Obéron': 'nan',
 'Weiss Brothers Artclass Pictures': 'nan',
 'Algefa Film': 'nan',
 'Productions Corniglion-Molinier': 'nan',
 'Manderfilm': 'nan',
 'Fanal-Filmproduktion GmbH': 'nan',
 'Pallas Film': 'DE',
 'Selznick International Pictures': 'nan',
 'Franco London Films': 'nan',
 'Grand National Pictures': 'nan',
 'Moldavia-Film': 'nan',
 'Les Films Marquis': 'nan',
 'Luis Trenker-Film': 'nan',
 'Will Tuschinski-Cinetone': 'nan',
 'Reliance Pictures': 'nan',
 'Films Romain Pinès': 'nan',
 'Cinéas': 'nan',
 'Towa Shoji G.K.': 'nan',
 'Mercury Pictures Corporation': 'nan',
 ' Bobby Breen Productions Inc.': ' ',
 'Wardour Films': 'nan',
 'Secretaría de Educación Pública': 'nan',
 'Paris Film': 'FR',
 'Véga Films': 'FR',
 'Productions André Daven': 'nan',
 'George A. Hirliman Productions': 'nan',
 'Harry Sherman Productions': 'nan',
 'Vogue Film Productions': '',
 'Projektograph Film': 'nan',
 'Collective Films': 'nan',
 'Trianon Films': 'nan',
 ' Compagnie Internationale de Productions Cinématographiques (CIPRA)': ' ',
 'Shinko': 'nan',
 'Tellus Films': '',
 'Victory Company': 'nan',
 'Rot-Front': 'nan',
 'Warner Bros. Entertainment': 'US',
 'Phoenix Films': 'nan',
 'Soyuzdetfilm': 'nan',
 'Tobis Film': 'DE',
 'Pan Ciné': '',
 'Régina': 'nan',
 'Fanchon Royer Pictures': 'nan',
 'New World Pictures': 'US',
 'TEOREMA': 'MX',
 'Industrie Cinematografiche Artistiche Romane (I.C.A.R.)': 'nan',
 ' Produzione Capitani Film': ' IT',
 'Société du Cinéma du Panthéon': 'nan',
 'Christian Stengel': 'nan',
 '"Réalisation dArt Cinématographique"': 'nan',
 'Boots and Saddles Pictures': 'nan',
 'Darryl F. Zanuck Productions': 'nan',
 'Capitol Film Corporation': 'nan',
 'Toho Film (Eiga) Co. Ltd.': '',
 'Trafalgar Film Productions Ltd.': '',
 'Imagoton': 'nan',
 'Gloria Film': 'nan',
 'Criterion Pictures': 'nan',
 'Ente Nazionale Industrie Cinematografiche (ENIC)': 'nan',
 'Independent Film Producers (IFP)': 'nan',
 'Colony Pictures': 'CA',
 'Walt Disney Productions': 'US',
 'Contemporary Historians Inc.': 'nan',
 'Atlantic Film Company': 'nan',
 'Productions Sigma': 'FR',
 'Meteor Film GmbH': '',
 'F.D.F.': 'nan',
 'Les Productions Milo Film': 'nan',
 'Intergloria film': 'nan',
 'CISA': 'nan',
 'Harmónia Film': 'nan',
 '"LAlliance Cinématographique Européenne (ACE)"': 'nan',
 'Emo-Film GmbH': 'nan',
 'Espectáculos de Arte': 'nan',
 ' Walter Wanger Productions': ' US',
 'Hispano Filmproduktion': 'nan',
 'Bobby Breen Productions Inc.': 'nan',
 'Astor Pictures Corp.': 'nan',
 'Dimeco Productions': '',

In [141]:
len(comp_info)

34004

In [139]:
df_comp.loc[23]

           production_companies_name production_companies_country
23  Sterling Camera and Film Company                        [nan]
23                    "Le Film dArt"                        [nan]
23         M.B. Dudley Amusement Co.                        [nan]

In [108]:
movie_final["production_companies_name"].explode(["production_companies_name"]).unique()

array(['Pathé Frères', 'Milano Films', 'Kalem Company', ...,
       'Trempel Films', '24images', 'DHR'], dtype=object)

In [109]:
len(movie_final["production_companies_name"].explode(["production_companies_name"]).unique())

42394

In [97]:
type(movie_final["production_companies_country"][0])

str

In [74]:
list_of_movie = movie_final["tconst"].unique()

In [75]:
# pd.DataFrame(list_of_movie).to_csv("list_of_movie.csv")

From this list of movie, we filter the names thanks to title principals

In [76]:
title_prin[title_prin["tconst"].isin(list_of_movie)]

,tconst,ordering,nconst,category,job,characters
1421,tt0000591,1,nm0906197,actor,NaN,NaN
1422,tt0000591,2,nm0332182,actor,NaN,NaN
1423,tt0000591,3,nm1323543,actress,NaN,NaN
1424,tt0000591,4,nm1759558,actress,NaN,NaN
1425,tt0000591,5,nm0141150,director,NaN,NaN
...,...,...,...,...,...,...
85085818,tt9916362,20,nm0284765,editor,NaN,NaN
85085819,tt9916362,21,nm2857592,casting_director,NaN,NaN
85085820,tt9916362,22,nm1486091,casting_director,casting_director,NaN
85085821,tt9916362,23,nm7266158,casting_director,NaN,NaN
85085822,tt9916362,24,nm1409074,production_designer,NaN,NaN

In [77]:
title_prin = title_prin[title_prin["tconst"].isin(list_of_movie)]

In [78]:
title_prin.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1122530 entries, 1421 to 85085822
Data columns (total 6 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   tconst      1122530 non-null  object
 1   ordering    1122530 non-null  int64
 2   nconst      1122530 non-null  object
 3   category    1122530 non-null  object
 4   job         261390 non-null   object
 5   characters  554366 non-null   object
dtypes: int64(1), object(5)
memory usage: 59.9+ MB

In [79]:
# title_prin.to_csv("pivot_title_name.csv")

In [80]:
list_of_name = title_prin["nconst"].unique()

In [81]:
name_bas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13409255 entries, 0 to 13409254
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   nconst             object
 1   primaryName        object
 2   birthYear          float64
 3   deathYear          float64
 4   primaryProfession  object
 5   knownForTitles     object
dtypes: float64(2), object(4)
memory usage: 613.8+ MB

In [82]:
name_bas[name_bas["nconst"].isin(list_of_name)]

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899.000,1987.000,"actor,miscellaneous,producer","tt0072308,tt0050419,tt0053137,tt0027125"
1,nm0000002,Lauren Bacall,1924.000,2014.000,"actress,soundtrack,archive_footage","tt0037382,tt0075213,tt0117057,tt0038355"
2,nm0000003,Brigitte Bardot,1934.000,NaN,"actress,music_department,producer","tt0057345,tt0049189,tt0056404,tt0054452"
3,nm0000004,John Belushi,1949.000,1982.000,"actor,writer,music_department","tt0072562,tt0077975,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,1918.000,2007.000,"writer,director,actor","tt0050986,tt0083922,tt0069467,tt0050976"
...,...,...,...,...,...,...
13408787,nm9993192,Eisuke Yamaki,NaN,NaN,NaN,tt8116574
13408791,nm9993197,Juanjo Braulio,NaN,NaN,writer,tt8743032
13409092,nm9993535,Henry Lawfull,2006.000,NaN,actor,"tt10187208,tt5900600"
13409162,nm9993616,Ryan Mac Lennan,NaN,NaN,actor,tt4844148
13409230,nm9993693,Apsara Rani,1996.000,NaN,actress,"tt12856788,tt8302382,tt13847502,tt8737752"

In [83]:
name_final = name_bas[name_bas["nconst"].isin(list_of_name)]

In [84]:
name_final["primaryProfession"][13409086].split(",")

KeyError: 13409086

In [ ]:
# name_final.to_csv("name_final.csv")